.u-p-0 {
  padding: 0;
}
.u-m-0 {
  margin: 0;
}
.u-mt-0{
  margin-top: 0;
}
.u-pt-30 {
  padding-top: 30px;
}
.u-pb-20 {
  padding-bottom: 20px;
}
.u-mb-16{
  margin-bottom: 16px;
}
.u-mb-20 {
  margin-bottom: 20px;
}
.u-mb-24 {
  margin-bottom:24px;
}
.u-mb-30 {
  margin-bottom: 30px;
}
.u-mb-40 {
  margin-bottom: 40px;
}
.u-mb-50 {
  margin-bottom: 50px;
}
.u-mb-70{
  margin-bottom: 70px;
}
.u-mb-100 {
  margin-bottom: 100px;
}
.u-mb-32 {
  margin-bottom: 32px;
}
.u-mb-38 {
  margin-bottom: 38px;
}

