includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    phpVersion: 80100
    paths:
        - src
    excludePaths:
        - packages
    scanDirectories:
        - packages
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
