.wpsms-subscribe {
  font-family: 'Barlow', serif;
  position: relative;
}

.wpsms-subscribe__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  margin: 24px 0 12px !important;
}

.wpsms-subscribe p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #5B5B5B;
}

@import "settings/fonts";
@import "components/fields";
@import "components/steps";
@import "components/messages";
@import "components/button";
@import "components/overlay";


// Styles of Send SMS block
.wpsms-sendSmsForm {
  position: relative;

  * {
    font-family: 'Barlow', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wpsms-sendSmsForm__deactiveBlock {
    width: 100%;
    padding-top: 100%;
    margin: 15px 0;
    border-radius: 15px;
    background: url("../images/send-sms-background.jpg") no-repeat center center/contain;
    position: relative;

    .wpsms-sendSmsForm__deactiveBlock__content {
      position: absolute;
      top: 54%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      width: 70%;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

      h6 {
        color: #222;
        text-align: center;
        font-size: 23px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 8px;
      }

      p {
        font-size: 13px;
        margin-bottom: 20px;
        color: #222;
        text-align: center;
        line-height: normal;
      }

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: 600;
        background-color: #F88E40;
        width: 100%;
        transition: .3s all ease-out;
        font-size: 14px;
        line-height: 17px;
        padding: 15px;
        border-radius: 2px;
        border-color: #F88E40;

        &:hover {
          background-color: #EF771F;
        }
      }
    }

    @media (max-width: 399px) {
      .wpsms-sendSmsForm__deactiveBlock__content {
        padding: 15px;
        width: 90%;

        a {
          padding: 10px;
        }
      }
    }
  }

  .wpsms-sendSmsForm__resultMessage {
    width: 100%;
    font-size: 14px;
    line-height: 1.6;
    padding: 12px 14px;
    border: 1px solid transparent;
    color: #222;
    margin: 16px 0;
    border-radius: 8px;
    display: none;

    &.success {
      border-color: #65B15C;
    }

    &.failed {
      border-color: #aa2a2a;
    }
  }

  .wpsms-sendSmsForm__overlay {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;

    .wpsms-sendSmsForm__overlay__spinner {
      width: 30px;
      display: block;
      margin: auto;
    }
  }

  .wpsms-sendSmsForm__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    margin: 24px 0 12px !important;
  }

  .wpsms-sendSmsForm__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 25px;
  }

  .wpsms-sendSmsForm__submit {
    background: #F88E40;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #fff !important;
    font-family: inherit;
    padding: 13px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    border: none !important;
    transition: 0.2s ease-in-out;
    text-shadow: none;
    -webkit-appearance: none;
    width: 100%;

    &:hover {
      background: #EF771F;
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }

  .wpsms-sendSmsForm__fieldContainer {
    min-width: 200px;
    position: relative;
    margin: 0 0 20px;

    p.wpsms-sendSmsForm__messageField__alert {
      color: #777777;
      padding-top: 5px;
      font-size: 15px;
      display: none;

      span {
        color: #EF771F;
      }
    }

    input[type=tel], textarea {
      width: 100%;
      height: auto;
      font-size: 14px !important;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      padding: 15px;
      color: #43454b;
      -webkit-appearance: none;
      font-weight: 400;
      border-radius: 8px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);

      &:focus {
        border: 1px solid #f88e40;
        box-shadow: none;
        outline: none;
        background-color: #ededed;
      }

      &::placeholder {
        color: #5b5b5b
      }
    }

    label {
      display: block;
      color: #222222;
      font-size: 14px;
      margin-bottom: 6px;
    }
  }
}

.wc-block-components-text-input .iti--show-flags {
  width: 100% !important;
}

.wc-block-components-address-form__phone {
  align-self: flex-start;
}

.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover, .iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country:has(+ .iti__dropdown-content:hover) .iti__selected-country-primary{
  background-color:transparent!important;
}

button.iti__selected-country:hover{
  background-color:transparent!important;
}

input.iti__search-input {
  padding: 9px 12px !important;
  border: none !important;
  font-size: 13px!important;
}

.wc-block-components-form .wc-block-components-text-input, .wc-block-components-text-input {
  .iti--show-flags, &.is-active .iti--show-flags {
    input, input:focus {
      padding: 1em var(--iti-input-padding) .5em var(--iti-selected-country-arrow-padding);
      padding-bottom: 1em;
      margin-left: 0;

      .rtl & {
        padding-right: var(--iti-selected-country-arrow-padding);
        padding-left: var(--iti-input-padding);
      }
    }

    & ~ label {
      display: none;
    }
  }
}

.iti {
  .iti__selected-country {
    outline: none !important;
    padding: 0 !important;
  }
}