.mail-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter, Arial, Helvetica, sans-serif;

  & * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
  }

  background-color: #f7f7f7;
  width: 100%;
  padding: 100px 0 50px 0;

  .main-section {
    max-width: 580px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    padding-bottom: 15px;

    .header {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      padding: 15px;
      border-radius: 15px 15px 0 0;
      min-height: 100px;

      .wp-sms-logo {
        height: auto;
        width: 200px;
        display: block;

        img {
          width: 100%;
        }
      }
    }

    .content {
      padding: 50px 50px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222222;
        text-align: left;
        margin: 20px 0 20px 0;
      }

      h3 {
        margin-top: 30px;
        margin-bottom: 15px;
      }

      p {
        text-align: justify;
        line-height: 1.7 !important;
        margin-bottom: 10px;
        color: #222222;

        b {
          font-weight: 800;
        }
      }

      ul {
        list-style: none;
        text-align: left;
        margin-top: 20px;

        li {
          color: #222222;
          text-align: justify;
          line-height: 1.7 !important;
          margin-bottom: 8px;
          font-weight: 400;
          font-size: 15px;

          span {
            font-weight: 500;
            margin-right: 5px;
            display: inline;
          }
        }
      }

      code {
        background-color: #F0F0F1;
        border-radius: 8px;
        margin: 10px 0;
        padding: 10px 15px;
        display: block;
        line-height: 1.7 !important;
        text-align: justify;
        white-space: pre-wrap;
        font-family: Monaco, monospace;
      }

      .button {
        display: inline-block;
        background-color: black;
        border-radius: 10px;
        padding: 15px 25px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        margin: 30px auto 0 auto;
        transition: 0.3s all ease-out;

        &:hover {
          background-color: #f1692c;
        }
      }
    }

    .graphical-reports {
      padding: 0 50px 50px 50px;

      h4 {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 500;
      }

      h5 {
        text-align: center;
        color: #808080;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 10px;
      }

      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 20px;

        tr:nth-child(2) {
          td img {
            //transform: translateX(5px);
          }
        }

        td {
          width: 50%;
          padding: 30px 20px;
          background-color: #fafafb;
          text-align: center;
          border-radius: 15px;

          img {
            width: 40px;
            height: auto;
            margin: auto;
            margin-bottom: 20px;
            display: block;
            text-align: center;
          }

          & .value {
            text-align: center;
            color: #222222;
            font-size: 32px;
            margin-bottom: 3px;
            display: block;
            font-weight: 700;
          }

          & .name {
            display: block;
            text-align: center;
            color: #535353;
            font-size: 15px;
          }
        }
      }
    }

    .table-reports {
      padding: 50px 50px;

      h3 {
        text-align: left;
        color: #222222;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        td {
          &:first-child {
            //text-align: left; // Left-align the first column
          }

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            //text-align: center; // Center-align the middle columns
          }

          &:last-child {
            //text-align: right; // Right-align the last column
          }
        }

        thead {
          td {
            background-color: black;
            color: white;
            font-weight: 500;
            padding: 10px 15px;

            &:first-child {
              //border-radius: 10px 0 0 10px;
            }

            &:last-child {
              //border-radius: 0 10px 10px 0;
            }
          }
        }

        tbody {
          tr {
            td {
              color: #222222;
              padding: 15px 15px;

              &.total {
                font-weight: 800;
                color: black;
              }
            }

            &:not(:last-child) {
              td {
                border-bottom: 1px solid #f0f0f1;
              }
            }
          }
        }
      }
    }
  }

  .pro-ad {
    max-width: 580px;
    border-radius: 15px;
    margin: 40px auto;
    background-color: #fff5f0;
    border: 1px solid #f37533;
    -webkit-box-shadow: 0px 4px 30px 0px rgba(243, 117, 51, 0.05);
    -moz-box-shadow: 0px 4px 30px 0px rgba(243, 117, 51, 0.05);
    box-shadow: 0px 4px 30px 0px rgba(243, 117, 51, 0.05);
    padding: 20px;

    table {
      width: 100%;
      margin-bottom: 10px;

      h4 {
        text-align: left;
        color: black;
      }

      tr {
        td.button {
          text-align: right;

          a {
            background-color: #f37533;
            padding: 8px 15px;
            border-radius: 20px;
            text-align: center;
            display: inline-block;
            color: white;

            img {
              display: inline-block;
              margin-left: 10px;
              width: 7px;
              height: auto;
            }
          }
        }
      }
    }

    p {
      text-align: justify;
      line-height: 1.7 !important;
      font-size: 15px;
      color: black;
    }
  }

  .footer-links {
    max-width: 50%;
    text-align: center;
    margin: 30px auto;
    display: block;

    p {
      color: #808080;
      font-size: small;

      a {
        text-decoration: underline;
        color: #535353;
        font-size: small;
        transition: 0.3s all ease-out;

        &:hover {
          color: #222222;
        }
      }
    }
  }

  @media screen and(min-width: 450px) and(max-width: 580px) {
    padding: 100px 10px;
  }

  @media screen and(max-width: 450px) {
    padding: 50px 10px;

    .main-section {
      border-radius: 10px;

      .content {
        padding: 20px;

        h1 {
          font-size: 18px;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }

        code {
          border-radius: 8px;
          padding: 10px 10px;
        }

        .button {
          font-size: 15px;
        }
      }

      .graphical-reports {
        padding: 0 10px 10px 10px;

        table {
          border-spacing: 10px;

          td {
            padding: 25px 15px;
            border-radius: 10px;

            img {
              margin-bottom: 15px;
              width: 32px;
            }

            & .value {
              font-size: 22px;
            }

            & .name {
              font-size: 14px;
            }
          }
        }
      }

      .table-reports {
        padding: 10px;

        h3 {
          margin-top: 30px;
          font-size: 16px;
        }

        table {
          thead {
            td {
              padding: 8px 10px;
            }
          }

          tbody {
            tr {
              td {
                color: #222222;
                padding: 8px 10px;
              }
            }
          }
        }
      }
    }

    .footer-links {
      max-width: 90%;
    }

    .pro-ad {
      border-radius: 10px;
      padding: 20px;
      max-width: 95%;
      margin: 40px auto;

      a {
        font-size: 14px;

        img {
          width: 7px;
        }
      }

      p {
        font-size: 14px;
      }
    }
  }
}
