body,
html {
  font-family: $barlow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $grey-color-2;
  color: $grey-color-1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

body::-webkit-scrollbar-track {
  background: #eaeaea
}

body::-webkit-scrollbar-thumb {
  background: #adb5bd;
  border-radius: 8px
}

body::-webkit-scrollbar-thumb:hover {
  background: #6c757d
}

.main {
  background-color: #fff;
}

h1 {
  color: $black-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.36px;
}

strong {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin ie {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

#wpadminbar, #adminmenu, #wpfooter, #adminmenuback, #screen-meta-links ,
.dt-paging-button.last , .dt-paging-button.first ,
,.notice:not(.wpsms-admin-notice) , .dt-length , .dt-search {
  display: none !important;
}

 .notice.wpsms-admin-notice ,.sms_page_wp-sms #wpcontent  .notice.wpsms-admin-notice{
   margin: 20px auto!important;
   background: #FFF2F2;
   border: 1px solid #F9595980;
   border-radius: 8px;
   padding: 13px 16px;
   color: #852929;
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;
   gap: 12px;
   align-items: center;
   width: 792px;
   max-width: 100%;
   box-sizing: border-box;
   display: none;

   &.active {
     display: flex;
   }

   &:before{
     content: '';
     width: 14.7px;
     height: 14.7px;
     display: inline-block;
     background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxNSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEzNjY0XzYwMzEpIj4KPHBhdGggZD0iTTcuMzUgMTguN0MzLjI5MDcxIDE4LjcgMCAxNS40MDkzIDAgMTEuMzVDMCA3LjI5MDcxIDMuMjkwNzEgNCA3LjM1IDRDMTEuNDA5MyA0IDE0LjcgNy4yOTA3MSAxNC43IDExLjM1QzE0LjcgMTUuNDA5MyAxMS40MDkzIDE4LjcgNy4zNSAxOC43Wk02LjYxNSAxMy41NTVWMTUuMDI1SDguMDg1VjEzLjU1NUg2LjYxNVpNNi42MTUgNy42NzVWMTIuMDg1SDguMDg1VjcuNjc1SDYuNjE1WiIgZmlsbD0iI0Y5NTk1OSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzEzNjY0XzYwMzEiPgo8cmVjdCB3aWR0aD0iMTQuNyIgaGVpZ2h0PSIxOC43IiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=") center center no-repeat;
     background-size: 100% 100%;
     margin-top: -2px;
   }
   p{
     padding: 0;
     margin: 0;
   }
 }

#wpcontent, #wpbody, #wpwrap {
  margin: 0 !important;
  padding: 0 !important;
 }

#wpbody-content {
  padding-bottom: 0;
}