$white-color: #fff;
$black-color: #000;
$red: #EB2E45;
$green: #058860;
$green-bg: #0AC28A05;
$green-light: #F7FFFD;
$grey-color-1: #5b5b5b;
$grey-color-2: #F5F1EE;
$grey-color-3: #E8E6E5;
$grey-color-4: #f7f7f7;
$grey-color-5: #E7E7E7;

$dark-grey-1: #5F5F5F;
$dark-grey-2: #363534;
$dark-grey-3: #282726;

$primary-orange: #C24225;
$primary-bg:#FFF8F6;
$primary-highlight:#FFE3DD;
$alert-danger-bg:#FF383805;
$alert-danger-border:#FF3838;
