
.wpsms-wrap .thickbox.button, .wpsms-wrap .button {
  background: #fff;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  color: #000;
  transition: 0.2s;
}

.wpsms-wrap .wpsms-button-group {
  margin-top: 20px;
}

.wpsms-wrap .button:hover {
  background: #fff;
  border-color: #F88E40;
  color: #000;
}

.wpsms-wrap .button, .wpsms-wrap .thickbox.button {
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 24px;
  border-radius: 2px;
  transition: 0.2s;
}

@media screen and (max-width: 500px) {
  .wpsms-wrap .button, .wpsms-wrap .thickbox.button {
    padding: 8px 12px;
  }
}

.rtl .wpsms-wrap {
  .notice.wpsms-admin-notice .button {
    font-weight: 400!important;
    padding: 0 10px;
    margin: 0;
    box-shadow: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    background: #f6f7f7;
    border-color: #8c8f94;
    color: #2271b1;

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:hover{
      background: #f0f0f1;
      border-color: #0a4b78;
      color: #0a4b78;
    }

    &.button-primary {
      background: #f97316;
      border-color: #f97316;
      color: #fff;
      &:hover{
        background: #135e96;
        border-color: #135e96;
      }
    }
  }
}

.wpsms-wrap .button-primary,
.wp-sms-widgets .button-primary {
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 24px;
  border-radius: 2px;
  transition: 0.2s;
  background: #C2410C;
  border-color: #C2410C;
  color: #fff !important;
}

@media screen and (max-width: 500px) {
  .wpsms-wrap .button, .wpsms-wrap .thickbox.button {
    padding: 12px 18px;
  }
}

.wpsms-wrap .button-primary:hover,
.wp-sms-widgets .button-primary:hover {
  background-color: #9a3412;
  border-color: #9a3412;
}

.wpsms-wrap .button-primary:focus,
.wp-sms-widgets .button-primary:focus {
  background-color: #9a3412;
  border-color: #9a3412;
}

.wpsms-wrap .tablenav .bulkactions .button {
  color: #2271b1;
  border-color: #2271b1;
  background: #f6f7f7;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;

}

.wpsms-wrap .search-box .button {
  padding: 10px 14px;
  &#search-submit{
    color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
  }
}

.sms_page_wp-sms-subscribers-privacy .button-primary {
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 24px;
  border-radius: 2px;
  transition: 0.2s;
  background: #F88E40;
  border-color: #F88E40;
  color: #fff !important;
}

.sms_page_wp-sms-subscribers-privacy .button-primary:focus,
.sms_page_wp-sms-subscribers-privacy .button-primary:hover {
  background: #EF771F;
  border-color: #EF771F;
  box-shadow: 0 0 0 1px #F88E40;
}


.notice button, .notice input[type="submit"], .notice .button {
  padding: 10px;
  margin-left: 4px;
}


.wpsms-primary-button {
  background: #fff !important;
  border: 1px solid #D6D6D6 !important;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05) !important;
  border-radius: 2px;
  color: #000 !important;
  transition: 0.2s;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  padding: 14px 24px !important;
}

.wpsms-button-sm {
  padding: 10px 14px !important;
}

.wpsms-primary-button:hover {
  background: #fff !important;
  border-color: #F88E40 !important;
  color: #000 !important;
}

.wpsms-primary-button {
  background: #fff !important;
  border: 1px solid #D6D6D6 !important;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05) !important;
  border-radius: 2px;
  color: #000 !important;
  transition: 0.2s;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  padding: 14px 24px !important;
}

.wpsms-button-sm {
  padding: 10px 14px !important;
}

.wpsms-primary-button:hover {
  background: #fff !important;
  border-color: #F88E40 !important;
  color: #000 !important;
}


.wpsms-indicator__status {
  font-size: .687rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.375rem 0.5rem 0.375rem 1.5rem;
  position: relative;
  transition: all .2s ease-in-out;
  white-space: nowrap;
  width: auto;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 0.75rem;
  background: #ecedf8;
  border: 1px solid #d5d7e9;

  span {
    margin-top: 1px;
    display: inline-block;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &.active {
    background: #e1f6ed;
    border-color: rgba(87, 192, 145, .24);
    color: #276a52;
  }

  &.inactive {
    background: #f6e1e1;
    border-color: #C057573D;
    color: #6a2727;
  }

  svg {
    fill: #242748;
    stroke: rgba(154, 157, 187, .2);
    height: 1.125rem;
    left: 0.25rem;
    position: absolute;
    top: 0.325rem;
    transition: all .2s ease-in-out;
    width: 1.125rem;
  }

  &.active svg {
    fill: #57c091;
    stroke: rgba(87, 192, 145, .22);
  }

  &.inactive svg {
    fill: #c05757;
    stroke: #C0575738;
  }
}