
.toplevel_page_wp-sms #wpcontent, .sms_page_wp-sms-outbox #wpcontent, .sms_page_wp-sms-subscribers-privacy #wpcontent, .sms_page_wp-sms-subscribers #wpcontent, .sms_page_wp-sms-subscribers-group #wpcontent, .sms_page_wp-sms-settings #wpcontent, .sms_page_wp-sms-pro #wpcontent, .sms_page_wp-sms-scheduled #wpcontent {
  padding: 0;
}

.toplevel_page_wp-sms .wpsms-wrap, .outbox .wpsms-wrap, .sms_page_wp-sms-subscribers .wpsms-wrap, .sms_page_wp-sms-outbox .wpsms-wrap, .sms_page_wp-sms-subscribers-privacy .wpsms-wrap, .sms_page_wp-sms-subscribers-group .wpsms-wrap, .sms_page_wp-sms-settings .wpsms-wrap, .sms_page_wp-sms-pro .wpsms-wrap, .sms_page_wp-sms-scheduled .wpsms-wrap {
  margin: 0;
}

.toplevel_page_wp-sms #wpcontent .notice,
.sms_page_wp-sms-outbox #wpcontent .notice,
.sms_page_wp-sms-subscribers #wpcontent .notice,
.sms_page_wp-sms-subscribers-group #wpcontent .notice,
.sms_page_wp-sms-settings #wpcontent .notice,
.sms_page_wp-sms-pro #wpcontent .notice,
.sms_page_wp-sms-scheduled #wpcontent .notice {
  margin: 20px !important;
}

.sms_page_wp-sms-scheduled #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.toplevel_page_wp-sms #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.sms_page_wp-sms-outbox #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.sms_page_wp-sms-subscribers-privacy #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.sms_page_wp-sms-subscribers #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.sms_page_wp-sms-subscribers-group #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.sms_page_wp-sms-settings #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.sms_page_wp-sms-pro #wpcontent .wpsms-wrap .wpsms-wrap__main .notice,
.sms_page_wp-sms-scheduled #wpcontent .wpsms-wrap .wpsms-wrap__main .notice {
  margin: 20px 0 0 !important;
}



.toplevel_page_wp-sms #wpcontent .notice,
.sms_page_wp-sms-outbox #wpcontent .notice,
.sms_page_wp-sms-subscribers #wpcontent .notice,
.sms_page_wp-sms-subscribers-group #wpcontent .notice,
.sms_page_wp-sms-settings #wpcontent .notice,
.sms_page_wp-sms-pro #wpcontent .notice,
.sms_page_wp-sms-scheduled #wpcontent .notice {
  margin: 20px !important;
}

.toplevel_page_wp-sms #wpcontent .wpsms-wrap .notice,
.sms_page_wp-sms-outbox #wpcontent .wpsms-wrap .notice,
.sms_page_wp-sms-subscribers-privacy #wpcontent .wpsms-wrap .notice,
.sms_page_wp-sms-subscribers #wpcontent .wpsms-wrap .notice,
.sms_page_wp-sms-subscribers-group #wpcontent .wpsms-wrap .notice,
.sms_page_wp-sms-settings #wpcontent .wpsms-wrap .notice,
.sms_page_wp-sms-pro #wpcontent .wpsms-wrap .notice,
.sms_page_wp-sms-scheduled #wpcontent .wpsms-wrap .notice {
  margin: 20px 0 !important;
}


.toplevel_page_wp-sms #wpcontent .notice,
.sms_page_wp-sms-outbox #wpcontent .notice,
.sms_page_wp-sms-subscribers #wpcontent .notice,
.sms_page_wp-sms-subscribers-group #wpcontent .notice,
.sms_page_wp-sms-settings #wpcontent .notice,
.sms_page_wp-sms-pro #wpcontent .notice,
.sms_page_wp-sms-scheduled #wpcontent .notice {
  margin: 20px !important;
}

