#TB_window {
  overflow: scroll;
  max-height: 450px;
}
.wp-sms-upload-form {

  table {
    width: 100%;
  }

  td {
    width: 50%;
  }

  select {
    width: 100%;
    text-align: center;
  }

  .wp-sms-data-type-header {
    border: 1px solid #000;
    text-align: center;
  }

}