.wpsms-inbox-page {
  .background-img {
    width: 100%;
  }
}

.promotion-modal {
  position: absolute;
  width: 624px;
  max-width: calc(100% - 40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 32px;
  border: 1px solid #eee;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 85%;
  overflow-y: auto;
  box-sizing: border-box;

  .promotion-modal__screenshot {
    text-align: center;

    img {
      width: 399px;
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

.promotion-modal__title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 12px;
  color: #282828;
  line-height: 28px;

  @media screen and (max-width: 990px) {
    font-size: 18px;
  }
}

.promotion-modal__desc {
  font-size: 16px;
  color: #262626;
  font-weight: 400;
  margin: 0 0 32px;
  line-height: 26px;
  padding: 0;

  @media(max-width: 560px) {
    font-size: 13px;
  }
}

.promotion-modal__features {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;

  &__title {
    margin: 32px 0 16px;
    padding: 0;
    color: #282828;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}

.promotion-modal__features__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #262626;

  &:before {
    content: '';
    width: 19px;
    min-width: 19px;
    height: 19px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxOSAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuNDk5NjcgMTguMDMxNkM1LjEyNzQyIDE4LjAzMTYgMS41ODMwMSAxNC40ODcxIDEuNTgzMDEgMTAuMTE0OUMxLjU4MzAxIDUuNzQyNjUgNS4xMjc0MiAyLjE5ODI0IDkuNDk5NjcgMi4xOTgyNEMxMy44NzE5IDIuMTk4MjQgMTcuNDE2MyA1Ljc0MjY1IDE3LjQxNjMgMTAuMTE0OUMxNy40MTYzIDE0LjQ4NzEgMTMuODcxOSAxOC4wMzE2IDkuNDk5NjcgMTguMDMxNlpNOS40OTk2NyAxNi40NDgyQzEyLjk5NzUgMTYuNDQ4MiAxNS44MzMgMTMuNjEyNyAxNS44MzMgMTAuMTE0OUMxNS44MzMgNi42MTcxIDEyLjk5NzUgMy43ODE1OCA5LjQ5OTY3IDMuNzgxNThDNi4wMDE4NyAzLjc4MTU4IDMuMTY2MzQgNi42MTcxIDMuMTY2MzQgMTAuMTE0OUMzLjE2NjM0IDEzLjYxMjcgNi4wMDE4NyAxNi40NDgyIDkuNDk5NjcgMTYuNDQ4MlpNOC43MTAwNyAxMy4yODE2TDUuMzUxMzMgOS45MjI4NUw2LjQ3MDkyIDguODAzMkw4LjcxMDA3IDExLjA0MjRMMTMuMTg4NCA2LjU2NDA2TDE0LjMwOCA3LjY4MzY1TDguNzEwMDcgMTMuMjgxNloiIGZpbGw9IiNFQTU4MEMiLz4KPC9zdmc+Cg==") center center no-repeat;
    display: inline-block;
  }
}

.promotion-modal__chat {
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #282828;
    margin-top: 32px;
    margin-bottom: 12px;
  }

  ul {
    margin: 0;
    padding-left: 25px;
    list-style-type: disc;

    .rtl & {
      padding-left: 0;
      padding-right: 25px;
    }

    li {

      color: #262626;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;

      &::marker {
        color: #9A3412
      }

    }

    a {
      color: #9A3412;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        color: #262626
      }
    }
  }
}

.promotion-modal__footer {
  margin-top: 8px;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  color: #525252;

  a {
    font-weight: 700;
    text-decoration: underline;
    color: #525252;

    &:hover {
      color: #262626
    }
  }
}

body.modal-open .iti--container {
  z-index: 999999;
}