.wp_sms_subscribers_label {
  line-height: 19px;
  left: 0px;
  top: 6px;
  width: 100px;
  height: 19px;
  display: block;
}

.wpsms-value.wpsms-numbers code {
  font-family: inherit;
  white-space: pre-line;
}

@media screen and (min-width: 1440px) {
  .wpsms-wrap .postbox-container {
    max-width: 65%;
  }

  .rtl .postbox-container {
    max-width: unset;
  }
}

.wpsms-wrap .current-page {
  padding: 4px 9px !important;
}

.wpsms-wrap select {
  padding: 12px 24px 12px 8px !important;
}

.wpsms-wrap summary {
  user-select: none;
}

.rtl .wpsms-wrap select {
  padding: 12px 8px 12px 24px !important;
}

.wpsms-wrap {
  .notice:has(p):not(.e-notice) {
    padding: 8px 14px;
    border-radius: 4px;
    color: #242a31;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    box-sizing: border-box;
    border-left: 6px solid #f2bb08;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    margin: 10px 0 24px;
    display: flex;
    align-items: flex-start;
    position: relative;

    > span,
    > p {
      padding: 3px 0 !important;
      margin: 0;
    }

    &::before {
      content: "";
      min-width: 20px;
      min-height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: 3px;
      background: center center/auto no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 7.34784 18.9464 4.8043 17.0711 2.92893C15.1957 1.05357 12.6522 0 10 0ZM11 13.5C11 13.7761 10.7761 14 10.5 14H9.5C9.22386 14 9 13.7761 9 13.5V12.5C9 12.2239 9.22386 12 9.5 12H10.5C10.7761 12 11 12.2239 11 12.5V13.5ZM10.53 10C10.6572 10.0009 10.7647 9.90624 10.78 9.78L11.18 6.56C11.1972 6.41735 11.1523 6.27417 11.0566 6.16698C10.9609 6.05979 10.8237 5.99896 10.68 6H9.32C9.17631 5.99896 9.03912 6.05979 8.94342 6.16698C8.84771 6.27417 8.80275 6.41735 8.82 6.56L9.22 9.78C9.23526 9.90624 9.34284 10.0009 9.47 10H10.53Z' fill='%23F2BB08'/%3E%3C/svg%3E%0A");
    }

    &.notice-error {
      border-left-color: #ff0000;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='19' viewBox='0 0 23 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9055 17.63L11.8131 0.37C11.6763 0.141211 11.4296 0.0008087 11.163 0H10.8629C10.5963 0.0008087 10.3496 0.141211 10.2127 0.37L0.100349 17.63C-0.0295434 17.8667 -0.0295434 18.1533 0.100349 18.39L0.240382 18.62C0.370004 18.8573 0.620158 19.0035 0.890536 19H21.1153C21.3857 19.0035 21.6359 18.8573 21.7655 18.62L21.9055 18.39C22.0354 18.1533 22.0354 17.8667 21.9055 17.63ZM12.0032 14.5C12.0032 14.7761 11.7793 15 11.503 15H10.5028C10.2266 15 10.0027 14.7761 10.0027 14.5V13.5C10.0027 13.2239 10.2266 13 10.5028 13H11.503C11.7793 13 12.0032 13.2239 12.0032 13.5V14.5ZM11.5331 11C11.6602 11.0009 11.7679 10.9062 11.7831 10.78L12.1832 7.56C12.2005 7.41735 12.1555 7.27417 12.0598 7.16698C11.964 7.05979 11.8268 6.99896 11.6831 7H10.3228C10.179 6.99896 10.0418 7.05979 9.9461 7.16698C9.85037 7.27417 9.8054 7.41735 9.82265 7.56L10.2227 10.78C10.238 10.9062 10.3456 11.0009 10.4728 11H11.5331Z' fill='%23FF0000'/%3E%3C/svg%3E%0A");
      }
    }

    &.notice-warning {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.88 12.88L15.71 13.71C15.8947 13.8963 15.9989 14.1477 16 14.41V15C16 15.5523 15.5523 16 15 16H1C0.447715 16 0 15.5523 0 15V14.41C0.00110462 14.1477 0.105256 13.8963 0.29 13.71L1.12 12.88C1.68277 12.3179 1.9993 11.5554 2 10.76V8C2 6.70178 2.42107 5.43858 3.2 4.4L4.1 3.2C4.66656 2.44458 5.55573 2 6.5 2H7V0.5C7 0.223858 7.22386 0 7.5 0H8.5C8.77614 0 9 0.223858 9 0.5V2H9.5C10.4443 2 11.3334 2.44458 11.9 3.2L12.8 4.4C13.5789 5.43858 14 6.70178 14 8V10.76C14.0007 11.5554 14.3172 12.3179 14.88 12.88ZM8 20C9.10457 20 10 19.1046 10 18H6C6 19.1046 6.89543 20 8 20Z' fill='%23F2BB08'/%3E%3C/svg%3E%0A");
      }
    }

    &.notice-info {
      border-left-color: #0090ad;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 7.34784 18.9464 4.8043 17.0711 2.92893C15.1957 1.05357 12.6522 0 10 0ZM11 13.5C11 13.7761 10.7761 14 10.5 14H9.5C9.22386 14 9 13.7761 9 13.5V10.5C9 10.2239 9.22386 10 9.5 10H10.5C10.7761 10 11 10.2239 11 10.5V13.5ZM10.5 8C10.7761 8 11 7.77614 11 7.5V6.5C11 6.22386 10.7761 6 10.5 6H9.5C9.22386 6 9 6.22386 9 6.5V7.5C9 7.77614 9.22386 8 9.5 8H10.5Z' fill='%230090AD'/%3E%3C/svg%3E%0A");
      }
    }

    &.notice-success {
      border-left-color: #22bb3f;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.47715 4.47715 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10ZM8.73 13.35L14.35 7.73C14.5341 7.53685 14.5341 7.23315 14.35 7.04L13.82 6.51C13.6256 6.31943 13.3144 6.31943 13.12 6.51L8.38 11.25L6.88 9.76C6.78927 9.66332 6.66259 9.60848 6.53 9.60848C6.39741 9.60848 6.27073 9.66332 6.18 9.76L5.65 10.29C5.55534 10.3839 5.5021 10.5117 5.5021 10.645C5.5021 10.7783 5.55534 10.9061 5.65 11L8.03 13.35C8.12073 13.4467 8.24741 13.5015 8.38 13.5015C8.51259 13.5015 8.63927 13.4467 8.73 13.35Z' fill='%2322BB3F'/%3E%3C/svg%3E%0A");
      }
    }

    &.notice-danger {
      border-left-color: #ff0000;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='19' viewBox='0 0 23 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9055 17.63L11.8131 0.37C11.6763 0.141211 11.4296 0.0008087 11.163 0H10.8629C10.5963 0.0008087 10.3496 0.141211 10.2127 0.37L0.100349 17.63C-0.0295434 17.8667 -0.0295434 18.1533 0.100349 18.39L0.240382 18.62C0.370004 18.8573 0.620158 19.0035 0.890536 19H21.1153C21.3857 19.0035 21.6359 18.8573 21.7655 18.62L21.9055 18.39C22.0354 18.1533 22.0354 17.8667 21.9055 17.63ZM12.0032 14.5C12.0032 14.7761 11.7793 15 11.503 15H10.5028C10.2266 15 10.0027 14.7761 10.0027 14.5V13.5C10.0027 13.2239 10.2266 13 10.5028 13H11.503C11.7793 13 12.0032 13.2239 12.0032 13.5V14.5ZM11.5331 11C11.6602 11.0009 11.7679 10.9062 11.7831 10.78L12.1832 7.56C12.2005 7.41735 12.1555 7.27417 12.0598 7.16698C11.964 7.05979 11.8268 6.99896 11.6831 7H10.3228C10.179 6.99896 10.0418 7.05979 9.9461 7.16698C9.85037 7.27417 9.8054 7.41735 9.82265 7.56L10.2227 10.78C10.238 10.9062 10.3456 11.0009 10.4728 11H11.5331Z' fill='%23FF0000'/%3E%3C/svg%3E%0A");
      }
    }

    &.wpsms-newsletter__notice {
      form {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .field-group {
          justify-content: flex-end;
          margin-right: 44px;
          margin-left: 44px;
        }
      }
    }

    .notice-dismiss {
      margin: 0 !important;
    }
  }

  .rtl & {
    .notice:has(p):not(.e-notice) {
      border-left: 0;
      border-right: 6px solid #f2bb08;

      &::before {
        margin-right: 0;
        margin-left: 10px;
      }

      &.notice-success {
        border-right-color: #22bb3f;
      }

      &.notice-info {
        border-right-color: #0090ad;
      }

      &.notice-error {
        border-right-color: #ff0000;
      }

      &.notice-danger {
        border-right-color: #ff0000;
      }
    }
  }
}

.wpsms-wrap .settings-error {
  p {
    padding: 10px 0;
  }

  .notice-dismiss {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  }
}

.wpsms-header-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 45px;
  height: 80px;
  background-color: #f47b36;
  background: url("../../assets/images/page-header.jpg") left center/cover no-repeat;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  .wpsms-header-logo {
    width: 140px;
    height: 50px;
    background: center center/contain no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='123' height='34' viewBox='0 0 123 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.2374 24.8686H34.5319L36.54 7.59863M36.54 7.59863H14.4505L24.0895 17.2377L36.54 7.59863ZM5.61465 12.8198H13.2456M2 16.4344H16.8602M19.6716 20.4507H7.62279' stroke='white' stroke-width='2.11945' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M59.7649 25H56.4574L56.333 11.5709H56.2833L51.4587 25H48.1512L47.8528 7.3929H50.7624L50.6629 21.2448H50.7375L55.587 7.3929H58.5961L58.6956 21.2448H58.7702L63.4704 7.3929H66.2059L59.7649 25ZM77.0672 11.6703C77.0672 12.6651 76.9263 13.5438 76.6444 14.3064C76.3791 15.0691 75.9978 15.7157 75.5005 16.2462C75.0031 16.7601 74.4062 17.158 73.7099 17.4399C73.0136 17.7052 72.2426 17.8378 71.3971 17.8378H69.2584L67.9901 25H65.2048L68.2636 7.3929H72.74C73.3203 7.3929 73.8674 7.47579 74.3814 7.64158C74.9119 7.80738 75.3761 8.06435 75.774 8.41252C76.1719 8.76068 76.4869 9.20832 76.719 9.75543C76.9511 10.286 77.0672 10.9243 77.0672 11.6703ZM74.3316 12.0682C74.3316 11.3719 74.1575 10.8248 73.8094 10.4269C73.4778 10.0124 72.9638 9.80517 72.2675 9.80517H70.6262L69.6563 15.525H71.422C72.3172 15.525 73.0219 15.2183 73.5358 14.6048C74.0664 13.9914 74.3316 13.1459 74.3316 12.0682ZM91.5319 10.6258C90.9185 9.8632 90.1227 9.48187 89.1445 9.48187C88.8295 9.48187 88.5062 9.54819 88.1746 9.68082C87.8596 9.79688 87.5695 9.97925 87.3042 10.2279C87.0555 10.46 86.8483 10.7585 86.6825 11.1232C86.5167 11.488 86.4338 11.9107 86.4338 12.3915C86.4338 13.0215 86.6079 13.5355 86.956 13.9334C87.3042 14.3147 87.7684 14.6795 88.3487 15.0276C88.7134 15.2597 89.0782 15.5167 89.4429 15.7985C89.8242 16.0804 90.1641 16.412 90.4625 16.7933C90.761 17.158 91.0014 17.5808 91.1837 18.0616C91.3661 18.5258 91.4573 19.0646 91.4573 19.6781C91.4573 20.6231 91.2998 21.4521 90.9848 22.165C90.6863 22.8779 90.2719 23.4747 89.7413 23.9555C89.2274 24.4363 88.6305 24.801 87.9508 25.0497C87.271 25.2984 86.5498 25.4228 85.7872 25.4228C84.809 25.4228 83.9055 25.2487 83.0765 24.9005C82.2641 24.5358 81.6341 24.0716 81.1865 23.5079L82.9522 21.4189C83.2837 21.85 83.6982 22.1981 84.1956 22.4634C84.693 22.7287 85.2235 22.8613 85.7872 22.8613C86.583 22.8613 87.2379 22.6209 87.7518 22.1401C88.2824 21.6593 88.5476 20.9713 88.5476 20.076C88.5476 19.446 88.3735 18.9071 88.0254 18.4595C87.6938 18.0119 87.1716 17.5725 86.4587 17.1415C86.0939 16.9259 85.7375 16.6855 85.3893 16.4203C85.0411 16.1384 84.7344 15.8234 84.4691 15.4753C84.2039 15.1105 83.9884 14.7043 83.8226 14.2567C83.6733 13.7925 83.5987 13.2536 83.5987 12.6402C83.5987 11.7947 83.7397 11.0237 84.0215 10.3274C84.3199 9.63109 84.7178 9.03424 85.2152 8.53686C85.7126 8.03948 86.3011 7.65816 86.9809 7.3929C87.6606 7.11105 88.3984 6.97013 89.1942 6.97013C90.0895 6.97013 90.8936 7.11934 91.6065 7.41777C92.3194 7.69961 92.8914 8.09751 93.3224 8.61147L91.5319 10.6258ZM108.027 25H105.267L107.679 11.3968H107.604L101.686 25H99.3479L98.2785 11.3968H98.2039L95.8414 25H93.255L96.3636 7.3929H100.169L101.288 20.3495H101.387L106.983 7.3929H111.136L108.027 25ZM121.039 10.6258C120.426 9.8632 119.63 9.48187 118.652 9.48187C118.337 9.48187 118.014 9.54819 117.682 9.68082C117.367 9.79688 117.077 9.97925 116.812 10.2279C116.563 10.46 116.356 10.7585 116.19 11.1232C116.024 11.488 115.941 11.9107 115.941 12.3915C115.941 13.0215 116.115 13.5355 116.463 13.9334C116.812 14.3147 117.276 14.6795 117.856 15.0276C118.221 15.2597 118.586 15.5167 118.95 15.7985C119.332 16.0804 119.672 16.412 119.97 16.7933C120.268 17.158 120.509 17.5808 120.691 18.0616C120.873 18.5258 120.965 19.0646 120.965 19.6781C120.965 20.6231 120.807 21.4521 120.492 22.165C120.194 22.8779 119.779 23.4747 119.249 23.9555C118.735 24.4363 118.138 24.801 117.458 25.0497C116.778 25.2984 116.057 25.4228 115.295 25.4228C114.316 25.4228 113.413 25.2487 112.584 24.9005C111.772 24.5358 111.142 24.0716 110.694 23.5079L112.46 21.4189C112.791 21.85 113.206 22.1981 113.703 22.4634C114.2 22.7287 114.731 22.8613 115.295 22.8613C116.09 22.8613 116.745 22.6209 117.259 22.1401C117.79 21.6593 118.055 20.9713 118.055 20.076C118.055 19.446 117.881 18.9071 117.533 18.4595C117.201 18.0119 116.679 17.5725 115.966 17.1415C115.601 16.9259 115.245 16.6855 114.897 16.4203C114.549 16.1384 114.242 15.8234 113.977 15.4753C113.711 15.1105 113.496 14.7043 113.33 14.2567C113.181 13.7925 113.106 13.2536 113.106 12.6402C113.106 11.7947 113.247 11.0237 113.529 10.3274C113.827 9.63109 114.225 9.03424 114.723 8.53686C115.22 8.03948 115.809 7.65816 116.488 7.3929C117.168 7.11105 117.906 6.97013 118.702 6.97013C119.597 6.97013 120.401 7.11934 121.114 7.41777C121.827 7.69961 122.399 8.09751 122.83 8.61147L121.039 10.6258Z' fill='white'/%3e%3c/svg%3e ");
    margin-right: 50px;
  }

  .wpsms-header-items-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 0 0 80%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 10px 8px;
      color: white;
      background-color: rgba(256, 256, 256, 0);
      transition: 0.3s all ease-out;
      opacity: 0.75;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      margin-right: 5px;

      &.active {
        background-color: rgba(256, 256, 256, 0.2);
        opacity: 1;
      }

      &:hover {
        background-color: rgba(256, 256, 256, 0.2);
        opacity: 1;
      }

      span {
        display: block;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background: center center/contain no-repeat;
      }

      &.documentation span {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.5311 1H15.5455V16.311M4.0622 7.1244H10.1866M4.0622 10.1866H10.1866M4.0622 13.2488H7.1244M1 3.29665H13.2488V17.8421H1V3.29665Z' stroke='white' stroke-width='1.14833' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }

      &.gateway span {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.42188 9.09838C6.65326 7.91698 8.29367 7.25732 10.0001 7.25732C11.7066 7.25732 13.347 7.91698 14.5784 9.09838' stroke='white' stroke-width='1.4375' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M1 4.66342C3.40705 2.3147 6.63691 1 10 1C13.3631 1 16.5929 2.3147 19 4.66342' stroke='white' stroke-width='1.4375' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M9.99979 15.0855C10.8642 15.0855 11.565 14.3847 11.565 13.5203C11.565 12.6558 10.8642 11.9551 9.99979 11.9551C9.13534 11.9551 8.43457 12.6558 8.43457 13.5203C8.43457 14.3847 9.13534 15.0855 9.99979 15.0855Z' fill='white'/%3e%3c/svg%3e ");
      }

      &.zapier span {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.2794 1C10.8033 1.00096 11.3185 1.04523 11.8194 1.12896V6.52793L15.647 2.71016C16.0697 3.01042 16.4652 3.34436 16.8309 3.70911C17.1967 4.07386 17.5325 4.4694 17.8335 4.89092L14.0057 8.70869H19.4188C19.5028 9.20817 19.5472 9.72017 19.5472 10.2437V10.2562C19.5472 10.7797 19.5028 11.2927 19.4188 11.7922H14.0048L17.8335 15.609C17.5325 16.0305 17.1967 16.4261 16.832 16.7908H16.8309C16.4652 17.1556 16.0697 17.4905 15.6481 17.7898L11.8194 13.972V19.3709C11.3194 19.4547 10.8042 19.4989 10.2803 19.5H10.2669C9.7428 19.4989 9.2296 19.4547 8.72875 19.3709V13.972L4.90112 17.7898C4.0558 17.1902 3.31676 16.452 2.71459 15.609L6.5424 11.7922H1.12931C1.04439 11.2917 1 10.7769 1 10.2533V10.2264C1.00088 10.0906 1.00978 9.92461 1.02255 9.7529L1.0265 9.70124C1.06434 9.21791 1.12931 8.70869 1.12931 8.70869H6.5424L2.71459 4.89092C3.01467 4.4694 3.34955 4.07482 3.7152 3.71104L3.71704 3.70911C4.08196 3.34436 4.47837 3.01042 4.90112 2.71016L8.72875 6.52793V1.12896C9.2296 1.04523 9.74391 1.00096 10.2687 1H10.2794ZM10.2785 7.93783H10.2696C9.5807 7.93783 8.92087 8.0639 8.31097 8.29294C8.08237 8.90021 7.95582 9.55847 7.9549 10.2456V10.2543C7.95582 10.9414 8.08237 11.5997 8.31189 12.207C8.92087 12.436 9.5807 12.5621 10.2696 12.5621H10.2785C10.9674 12.5621 11.6272 12.436 12.2362 12.207C12.4657 11.5987 12.5923 10.9414 12.5923 10.2543V10.2456C12.5923 9.55847 12.4657 8.90021 12.2362 8.29294C11.6272 8.0639 10.9674 7.93783 10.2785 7.93783Z' stroke='white'/%3e%3c/svg%3e ");
      }

      &.licenses span {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_209_22209)'%3e%3cmask id='path-1-outside-1_209_22209' maskUnits='userSpaceOnUse' x='-0.414062' y='-0.416504' width='19' height='19' fill='black'%3e%3crect fill='white' x='-0.414062' y='-0.416504' width='19' height='19'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.113 8.58713C16.8832 9.1778 16.8832 9.83313 17.113 10.4238L17.2476 10.8117C17.738 12.0926 17.1441 13.5335 15.8934 14.0971L15.5371 14.2555C14.9525 14.5073 14.4796 14.9632 14.2066 15.538L14.0482 15.8942C13.4844 17.1445 12.043 17.7382 10.7618 17.248L10.3975 17.1134C9.80662 16.8836 9.15108 16.8836 8.56022 17.1134L8.19593 17.248C6.91468 17.7382 5.47329 17.1445 4.90945 15.8942L4.75107 15.538C4.49914 14.9536 4.04314 14.4809 3.46815 14.208L3.11179 14.0496C1.8611 13.486 1.26718 12.0451 1.7576 10.7642L1.89222 10.4C2.12204 9.80938 2.12204 9.15405 1.89222 8.56338L1.7576 8.19921C1.26718 6.91838 1.8611 5.47745 3.11179 4.9138L3.46815 4.75546C4.03487 4.49426 4.48978 4.0395 4.75107 3.47296L4.93321 3.11671C5.49767 1.85388 6.95545 1.25771 8.24345 1.76296L8.60773 1.89755C9.19859 2.12729 9.85413 2.12729 10.445 1.89755L10.8093 1.76296C12.0905 1.2727 13.5319 1.86644 14.0958 3.11671L14.2541 3.47296C14.5154 4.0395 14.9703 4.49426 15.5371 4.75546L15.8934 4.93755C17.1441 5.5012 17.738 6.94212 17.2476 8.22296L17.113 8.58713ZM8.49673 12.1575L12.9473 7.70838C13.0932 7.55547 13.0932 7.31504 12.9473 7.16213L12.5276 6.74255C12.3737 6.59168 12.1272 6.59168 11.9733 6.74255L8.21956 10.495L7.03167 9.31546C6.95982 9.23893 6.8595 9.19551 6.7545 9.19551C6.6495 9.19551 6.54918 9.23893 6.47733 9.31546L6.05761 9.73505C5.98265 9.80937 5.94048 9.91054 5.94048 10.0161C5.94048 10.1216 5.98265 10.2228 6.05761 10.2971L7.94239 12.1575C8.01424 12.2341 8.11456 12.2775 8.21956 12.2775C8.32456 12.2775 8.42488 12.2341 8.49673 12.1575Z'/%3e%3c/mask%3e%3cpath d='M17.113 10.4238L18.0577 10.0959L18.0516 10.0784L18.0449 10.0612L17.113 10.4238ZM17.113 8.58713L18.0449 8.94973L18.048 8.94183L18.0509 8.93388L17.113 8.58713ZM17.2476 10.8117L16.3029 11.1396L16.3081 11.1545L16.3137 11.1693L17.2476 10.8117ZM15.8934 14.0971L16.2995 15.011L16.3043 15.0088L15.8934 14.0971ZM15.5371 14.2555L15.9328 15.1739L15.9431 15.1693L15.5371 14.2555ZM14.2066 15.538L13.3033 15.1089L13.298 15.1203L13.2929 15.1317L14.2066 15.538ZM14.0482 15.8942L14.9598 16.3053L14.962 16.3005L14.0482 15.8942ZM10.7618 17.248L11.1192 16.3139L11.1083 16.3099L10.7618 17.248ZM10.3975 17.1134L10.0351 18.0454L10.043 18.0485L10.0509 18.0514L10.3975 17.1134ZM8.56022 17.1134L8.90677 18.0514L8.91472 18.0485L8.92261 18.0454L8.56022 17.1134ZM8.19593 17.248L7.84936 16.3099L7.83856 16.314L8.19593 17.248ZM4.90945 15.8942L3.99568 16.3005L3.99786 16.3053L4.90945 15.8942ZM4.75107 15.538L3.83271 15.9339L3.8373 15.9442L4.75107 15.538ZM3.46815 14.208L3.89695 13.3046L3.88563 13.2992L3.87418 13.2941L3.46815 14.208ZM3.11179 14.0496L2.7009 14.9613L2.70576 14.9635L3.11179 14.0496ZM1.7576 10.7642L2.69155 11.1218L2.69556 11.111L1.7576 10.7642ZM1.89222 10.4L0.96028 10.0374L0.957206 10.0453L0.954266 10.0533L1.89222 10.4ZM1.89222 8.56338L0.954266 8.91013L0.957206 8.91808L0.96028 8.92598L1.89222 8.56338ZM1.7576 8.19921L2.69562 7.85244L2.69148 7.84164L1.7576 8.19921ZM3.11179 4.9138L2.70575 3.99992L2.70091 4.00211L3.11179 4.9138ZM3.46815 4.75546L3.87422 5.66941L3.88674 5.66364L3.46815 4.75546ZM4.75107 3.47296L3.86069 3.01774L3.85147 3.03577L3.84299 3.05415L4.75107 3.47296ZM4.93321 3.11671L5.82358 3.57194L5.83549 3.54866L5.84616 3.52478L4.93321 3.11671ZM8.24345 1.76296L7.87826 2.6939L7.88754 2.69754L7.8969 2.70099L8.24345 1.76296ZM8.60773 1.89755L8.97013 0.965524L8.96223 0.962453L8.95428 0.959516L8.60773 1.89755ZM10.445 1.89755L10.0984 0.959516L10.0905 0.962453L10.0826 0.965523L10.445 1.89755ZM10.8093 1.76296L11.1559 2.70106L11.1666 2.69693L10.8093 1.76296ZM14.0958 3.11671L15.0095 2.71046L15.0073 2.70562L14.0958 3.11671ZM14.2541 3.47296L13.3403 3.87925L13.3461 3.89177L14.2541 3.47296ZM15.5371 4.75546L15.9921 3.86497L15.974 3.85576L15.9556 3.84729L15.5371 4.75546ZM15.8934 4.93755L15.4384 5.82804L15.4602 5.83918L15.4825 5.84924L15.8934 4.93755ZM17.2476 8.22296L16.3137 7.86537L16.3097 7.87622L17.2476 8.22296ZM12.9473 7.70838L13.6543 8.4156L13.6628 8.40715L13.671 8.3985L12.9473 7.70838ZM8.49673 12.1575L7.78974 11.4503L7.77853 11.4615L7.76767 11.4731L8.49673 12.1575ZM12.9473 7.16213L13.671 6.47201L13.6628 6.46336L13.6543 6.45491L12.9473 7.16213ZM12.5276 6.74255L13.2346 6.03529L13.2275 6.02829L12.5276 6.74255ZM11.9733 6.74255L11.2734 6.02825L11.2663 6.03533L11.9733 6.74255ZM8.21956 10.495L7.51494 11.2046L8.22192 11.9067L8.92655 11.2023L8.21956 10.495ZM7.03167 9.31546L6.30262 9.99992L6.31462 10.0127L6.32705 10.025L7.03167 9.31546ZM6.47733 9.31546L7.18432 10.0227L7.19553 10.0115L7.20639 9.99992L6.47733 9.31546ZM6.05761 9.73505L6.7617 10.4452L6.7646 10.4423L6.05761 9.73505ZM6.05761 10.2971L5.35352 11.0072L5.35512 11.0088L6.05761 10.2971ZM7.94239 12.1575L8.67144 11.4731L8.65842 11.4592L8.64488 11.4459L7.94239 12.1575ZM18.0449 10.0612C17.9059 9.70375 17.9059 9.30718 18.0449 8.94973L16.181 8.22453C15.8605 9.04842 15.8605 9.96251 16.181 10.7864L18.0449 10.0612ZM18.1923 10.4838L18.0577 10.0959L16.1683 10.7517L16.3029 11.1396L18.1923 10.4838ZM16.3043 15.0088C18.0379 14.2275 18.8614 12.23 18.1815 10.4541L16.3137 11.1693C16.6146 11.9551 16.2503 12.8394 15.4825 13.1854L16.3043 15.0088ZM15.9431 15.1693L16.2995 15.011L15.4874 13.1833L15.131 13.3416L15.9431 15.1693ZM15.1099 15.967C15.2787 15.6116 15.5712 15.3296 15.9327 15.1738L15.1414 13.3371C14.3339 13.685 13.6805 14.3147 13.3033 15.1089L15.1099 15.967ZM14.962 16.3005L15.1204 15.9442L13.2929 15.1317L13.1345 15.488L14.962 16.3005ZM10.4044 18.1819C12.1802 18.8614 14.1782 18.0386 14.9598 16.3053L13.1367 15.4831C12.7906 16.2504 11.9059 16.615 11.1191 16.314L10.4044 18.1819ZM10.0509 18.0514L10.4152 18.186L11.1083 16.3099L10.744 16.1753L10.0509 18.0514ZM8.92261 18.0454C9.28038 17.9063 9.67732 17.9063 10.0351 18.0454L10.7599 16.1814C9.93592 15.861 9.02178 15.861 8.19782 16.1814L8.92261 18.0454ZM8.54248 18.186L8.90677 18.0514L8.21366 16.1753L7.84938 16.3099L8.54248 18.186ZM3.99786 16.3053C4.77953 18.0386 6.77752 18.8614 8.5533 18.1819L7.83856 16.314C7.05183 16.615 6.16704 16.2504 5.82104 15.4831L3.99786 16.3053ZM3.8373 15.9442L3.99569 16.3005L5.82321 15.488L5.66483 15.1317L3.8373 15.9442ZM3.03935 15.1114C3.39502 15.2802 3.67701 15.5726 3.83277 15.9339L5.66936 15.1421C5.32128 14.3347 4.69125 13.6816 3.89695 13.3046L3.03935 15.1114ZM2.70576 14.9635L3.06212 15.1218L3.87418 13.2941L3.51782 13.1358L2.70576 14.9635ZM0.823713 10.4066C0.143759 12.1825 0.967332 14.18 2.70091 14.9613L3.52266 13.1379C2.75487 12.7919 2.3906 11.9076 2.69148 11.1218L0.823713 10.4066ZM0.954266 10.0533L0.819639 10.4175L2.69556 11.111L2.83018 10.7468L0.954266 10.0533ZM0.96028 8.92598C1.09936 9.28343 1.09936 9.67999 0.96028 10.0374L2.82417 10.7626C3.14473 9.93876 3.14473 9.02467 2.82417 8.20078L0.96028 8.92598ZM0.81964 8.54596L0.954266 8.91013L2.83018 8.21663L2.69556 7.85246L0.81964 8.54596ZM2.70091 4.00211C0.967332 4.78339 0.143759 6.78093 0.823713 8.55679L2.69148 7.84164C2.3906 7.05582 2.75487 6.17151 3.52266 5.82549L2.70091 4.00211ZM3.06212 3.8416L2.70576 3.99994L3.51782 5.82766L3.87418 5.66932L3.06212 3.8416ZM3.84299 3.05415C3.68143 3.40445 3.40012 3.68571 3.04956 3.84729L3.88674 5.66364C4.66962 5.3028 5.29812 4.67455 5.65914 3.89177L3.84299 3.05415ZM4.04283 2.66149L3.86069 3.01774L5.64144 3.92819L5.82358 3.57194L4.04283 2.66149ZM8.60863 0.832029C6.82351 0.131764 4.80279 0.957927 4.02026 2.70864L5.84616 3.52478C6.19254 2.74984 7.08739 2.38366 7.87826 2.6939L8.60863 0.832029ZM8.95428 0.959516L8.59 0.824932L7.8969 2.70099L8.26118 2.83558L8.95428 0.959516ZM10.0826 0.965523C9.72483 1.10463 9.32789 1.10463 8.97013 0.965524L8.24533 2.82957C9.06929 3.14995 9.98343 3.14995 10.8074 2.82957L10.0826 0.965523ZM10.4627 0.824933L10.0984 0.959516L10.7915 2.83558L11.1558 2.70099L10.4627 0.824933ZM15.0073 2.70562C14.2257 0.972298 12.2277 0.149518 10.4519 0.829001L11.1666 2.69693C11.9534 2.39589 12.8382 2.76057 13.1842 3.52781L15.0073 2.70562ZM15.1679 3.06672L15.0095 2.71047L13.182 3.52296L13.3404 3.87921L15.1679 3.06672ZM15.9556 3.84729C15.6051 3.68571 15.3238 3.40445 15.1622 3.05415L13.3461 3.89177C13.7071 4.67455 14.3356 5.3028 15.1185 5.66364L15.9556 3.84729ZM16.3484 4.04705L15.9921 3.86497L15.0821 5.64596L15.4384 5.82804L16.3484 4.04705ZM18.1815 8.58054C18.8614 6.80468 18.0379 4.80714 16.3043 4.02586L15.4825 5.84924C16.2503 6.19526 16.6146 7.07957 16.3137 7.86539L18.1815 8.58054ZM18.0509 8.93388L18.1856 8.56971L16.3097 7.87622L16.175 8.24038L18.0509 8.93388ZM12.2403 7.00116L7.78974 11.4503L9.20372 12.8648L13.6543 8.4156L12.2403 7.00116ZM12.2236 7.85225C12.0011 7.61883 12.0011 7.25168 12.2236 7.01826L13.671 8.3985C14.1853 7.85926 14.1853 7.01125 13.671 6.47201L12.2236 7.85225ZM11.8206 7.44977L12.2403 7.86935L13.6543 6.45491L13.2346 6.03533L11.8206 7.44977ZM12.6732 7.45681C12.4383 7.68692 12.0626 7.68693 11.8277 7.4568L13.2275 6.02829C12.6847 5.49643 11.8162 5.49643 11.2734 6.02829L12.6732 7.45681ZM8.92655 11.2023L12.6803 7.44977L11.2663 6.03533L7.51257 9.78782L8.92655 11.2023ZM6.32705 10.025L7.51494 11.2046L8.92418 9.78546L7.7363 8.60588L6.32705 10.025ZM6.7545 10.1955C6.58339 10.1955 6.41982 10.1248 6.30262 9.99992L7.76073 8.63101C7.49982 8.35309 7.13561 8.19551 6.7545 8.19551V10.1955ZM7.20639 9.99992C7.08918 10.1248 6.92561 10.1955 6.7545 10.1955V8.19551C6.37339 8.19551 6.00918 8.35309 5.74827 8.63101L7.20639 9.99992ZM6.7646 10.4423L7.18432 10.0227L5.77034 8.60824L5.35062 9.02782L6.7646 10.4423ZM6.94048 10.0161C6.94048 10.1773 6.87608 10.3317 6.76169 10.4452L5.35352 9.02493C5.08921 9.287 4.94048 9.6438 4.94048 10.0161H6.94048ZM6.7617 9.58702C6.87608 9.70043 6.94048 9.85489 6.94048 10.0161H4.94048C4.94048 10.3884 5.08921 10.7452 5.35352 11.0072L6.7617 9.58702ZM8.64488 11.4459L6.7601 9.58544L5.35512 11.0088L7.23989 12.8692L8.64488 11.4459ZM8.21956 11.2775C8.39067 11.2775 8.55424 11.3482 8.67144 11.4731L7.21333 12.842C7.47424 13.1199 7.83845 13.2775 8.21956 13.2775V11.2775ZM7.76767 11.4731C7.88488 11.3482 8.04845 11.2775 8.21956 11.2775V13.2775C8.60067 13.2775 8.96488 13.1199 9.22579 12.842L7.76767 11.4731Z' fill='white' mask='url(%23path-1-outside-1_209_22209)'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_209_22209'%3e%3crect width='19' height='19' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
      }
    }
  }
}

#screen-meta-links {
  position: absolute;
  right: 0;
  z-index: 1;
}

body.rtl #screen-meta-links {
  left: 0;
  right: unset;
}

#screen-meta-links + .wpsms-wrap .wpsms-header-banner,
.privacy_page .wpsms-header-banner,
#screen-meta-links + input[type="hidden"] + .wpsms-wrap .wpsms-header-banner {
  // -webkit-transform: translateY(-34px);
  // transform: translateY(-34px);
  // position: relative;
  // z-index: -1;
}

#screen-meta-links + .wpsms-wrap .wpsms-wrap__main,
.privacy_page .wpsms-wrap__main {
  /*margin-top: -31px;*/
}

.wpsms-wrap__main {
  padding: 20px;

  @media screen and (max-width: 420px) {
    padding: 5px;
    margin-top: -10px !important;
  }
}

@media screen and (max-width: 1280px) {
  .wpsms-header-banner {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    height: auto;

    .wpsms-header-logo {
      margin-left: 0;
    }

    .wpsms-header-items-flex {
      margin-top: 10px;

      a {
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (max-width: 724px) {
  .wpsms-header-banner {
    .wpsms-header-items-flex {
      a {
        white-space: nowrap;
        padding: 5px 8px;
      }

      .documentation,
      .gateway,
      .zapier {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .wpsms-header-banner .license-status {
    display: none;
  }
}

.rtl .wpsms-header-banner {
  justify-content: flex-start;
  align-items: center;
}

.wpsms-header-banner .license-status {
  position: absolute;
  right: 20px;
  bottom: 14px;
  opacity: 0.75;
  transition: 0.3s all ease-out;
}

@media screen and (min-width: 724px) and (max-width: 1100px) {
  .wpsms-header-banner {
    .license-status {
      left: 180px;
      top: 24px;
      right: auto;
      bottom: auto;
    }
  }
}

.wpsms-header-banner .license-status h3 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.wpsms-header-banner .license-status span,
.wpsms-header-banner .license-status a {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.wpsms-header-banner .license-status:hover {
  opacity: 1;
}

.wpsms-header-banner .license-status--free a::after {
  content: "";
  width: 14px;
  height: 10px;
  margin-left: 12px;
  background: center center/100% no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.333008 5.33335V4.66668C0.333008 4.48259 0.482246 4.33335 0.666341 4.33335H11.4463L8.47968 1.37335C8.41657 1.31076 8.38107 1.22556 8.38107 1.13668C8.38107 1.0478 8.41657 0.962602 8.47968 0.900013L8.95301 0.433347C9.0156 0.370243 9.1008 0.334747 9.18967 0.334747C9.27855 0.334747 9.36375 0.370243 9.42634 0.433347L13.5197 4.52001C13.6135 4.61369 13.6662 4.74078 13.6663 4.87335V5.12668C13.6648 5.25896 13.6123 5.38553 13.5197 5.48001L9.42634 9.56668C9.36375 9.62978 9.27855 9.66528 9.18967 9.66528C9.1008 9.66528 9.0156 9.62978 8.95301 9.56668L8.47968 9.09335C8.41697 9.03191 8.38163 8.94781 8.38163 8.86001C8.38163 8.77222 8.41697 8.68812 8.47968 8.62668L11.4463 5.66668H0.666341C0.482246 5.66668 0.333008 5.51744 0.333008 5.33335Z' fill='white'/%3E%3C/svg%3E%0A");
}

.wpsms-header-banner .license-status--free span::before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background: center center/100% no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 9.34784 20.9464 6.8043 19.0711 4.92893C17.1957 3.05357 14.6522 2 12 2ZM13 15.5C13 15.7761 12.7761 16 12.5 16H11.5C11.2239 16 11 15.7761 11 15.5V12.5C11 12.2239 11.2239 12 11.5 12H12.5C12.7761 12 13 12.2239 13 12.5V15.5ZM12.5 10C12.7761 10 13 9.77614 13 9.5V8.5C13 8.22386 12.7761 8 12.5 8H11.5C11.2239 8 11 8.22386 11 8.5V9.5C11 9.77614 11.2239 10 11.5 10H12.5Z' fill='white'/%3e%3c/svg%3e ");
}

.wpsms-header-banner .license-status--invalid span::before,
.wpsms-header-banner .license-status--valid span::before {
  content: "";
  width: 19px;
  height: 16px;
  margin-right: 5px;
  background: center center/19px 16px no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='19' viewBox='0 0 23 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9055 17.63L11.8131 0.37C11.6763 0.141211 11.4296 0.0008087 11.163 0H10.8629C10.5963 0.0008087 10.3496 0.141211 10.2127 0.37L0.100349 17.63C-0.0295434 17.8667 -0.0295434 18.1533 0.100349 18.39L0.240382 18.62C0.370004 18.8573 0.620158 19.0035 0.890536 19H21.1153C21.3857 19.0035 21.6359 18.8573 21.7655 18.62L21.9055 18.39C22.0354 18.1533 22.0354 17.8667 21.9055 17.63ZM12.0032 14.5C12.0032 14.7761 11.7793 15 11.503 15H10.5028C10.2266 15 10.0027 14.7761 10.0027 14.5V13.5C10.0027 13.2239 10.2266 13 10.5028 13H11.503C11.7793 13 12.0032 13.2239 12.0032 13.5V14.5ZM11.5331 11C11.6602 11.0009 11.7679 10.9062 11.7831 10.78L12.1832 7.56C12.2005 7.41735 12.1555 7.27417 12.0598 7.16698C11.964 7.05979 11.8268 6.99896 11.6831 7H10.3228C10.179 6.99896 10.0418 7.05979 9.9461 7.16698C9.85037 7.27417 9.8054 7.41735 9.82265 7.56L10.2227 10.78C10.238 10.9062 10.3456 11.0009 10.4728 11H11.5331Z' fill='white'/%3E%3C/svg%3E%0A");
}

.wpsms-header-banner .license-status--valid span::before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background: center center/100% no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.0142 8.0389C16.7723 8.66066 16.7723 9.35048 17.0142 9.97224L17.1559 10.3806C17.6721 11.7288 17.0469 13.2456 15.7304 13.8389L15.3553 14.0056C14.74 14.2707 14.2422 14.7505 13.9549 15.3556L13.7881 15.7306C13.1946 17.0467 11.6774 17.6716 10.3287 17.1556L9.94523 17.0139C9.32327 16.7721 8.63323 16.7721 8.01127 17.0139L7.62781 17.1556C6.27912 17.6716 4.76187 17.0467 4.16836 15.7306L4.00164 15.3556C3.73645 14.7405 3.25645 14.2429 2.6512 13.9556L2.27608 13.7889C0.959569 13.1956 0.334388 11.6788 0.850617 10.3306L0.992329 9.94724C1.23424 9.32548 1.23424 8.63566 0.992329 8.0139L0.850617 7.63057C0.334388 6.28232 0.959569 4.76556 2.27608 4.17224L2.6512 4.00557C3.24775 3.73062 3.72659 3.25192 4.00164 2.65557L4.19336 2.28057C4.78753 0.951276 6.32204 0.323725 7.67783 0.85557L8.06128 0.997236C8.68324 1.23907 9.37328 1.23907 9.99524 0.997236L10.3787 0.85557C11.7274 0.339508 13.2446 0.964487 13.8382 2.28057L14.0049 2.65557C14.2799 3.25192 14.7588 3.73062 15.3553 4.00557L15.7304 4.19724C17.0469 4.79056 17.6721 6.30732 17.1559 7.65557L17.0142 8.0389ZM7.94444 11.7972L12.6293 7.1139C12.7828 6.95295 12.7828 6.69986 12.6293 6.5389L12.1875 6.09724C12.0254 5.93843 11.766 5.93843 11.604 6.09724L7.65268 10.0472L6.40228 8.80557C6.32664 8.72501 6.22104 8.6793 6.11052 8.6793C5.99999 8.6793 5.89439 8.72501 5.81875 8.80557L5.37694 9.24724C5.29804 9.32547 5.25366 9.43197 5.25366 9.54307C5.25366 9.65417 5.29804 9.76067 5.37694 9.8389L7.36092 11.7972C7.43656 11.8778 7.54216 11.9235 7.65268 11.9235C7.76321 11.9235 7.86881 11.8778 7.94444 11.7972Z' fill='white'/%3E%3C/svg%3E%0A");
}

.rtl .wpsms-header-banner .license-status span::before {
  margin-left: 5px;
  margin-right: 0;
}

.rtl .wpsms-header-banner .license-status {
  left: 20px;
  right: auto;
}

.rtl .wpsms-header-banner .wpsms-header-logo {
  margin-left: 50px;
  margin-right: 0 !important;
}

.rtl .wpsms-header-banner .wpsms-header-items-flex a span {
  margin-left: 5px;
  margin-right: 0;
}

.wpsms-wrap .tablenav .bulkactions {
  margin-bottom: 10px;
}

.wpsms-wrap .tablenav .bulkactions select {
  padding: 8px 25px 8px 8px !important;
  border-color: #d6d6d6 !important;
}

.sms_page_wp-sms-subscribers-privacy .inside .description {
  margin-top: 5px !important;
  display: block;
}

.sms_page_wp-sms-subscribers-privacy .postbox,
.wpsms-wrap .postbox {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  border: none !important;
}

.sms_page_wp-sms-subscribers-privacy .postbox-header,
.wpsms-wrap .postbox-header {
  border-bottom: 1px solid #e7e7e7 !important;
}

.sms_page_wp-sms-subscribers-privacy.postbox-header h2,
.wpsms-wrap .postbox-header h2 {
  padding: 15px 12px !important;
}

.sms_page_wp-sms-subscribers-privacy .privacy_page {
  margin: 0 !important;
}

.wpsms-wrap #flash_no {
  margin-left: 10px !important;
}

.rtl .wpsms-wrap #flash_no {
  margin-left: 0 !important;
  margin-right: 10px !important;
}

.wpsms-wrap .notice .notice-dismiss {
  margin: 9px;
  text-decoration: none;
}

.wpsms-wrap .notice .notice-dismiss::before {
  font-size: 20px;
}

.wpsms-wrap .description {
  color: #5b5b5b;
  font-size: 12px;
  margin-top: 2px;
  line-height: 22px;
}

.wpsms-wrap .description code {
  border-radius: 16px;
  font-size: 12px;
  padding: 2px 7px;
}

.wpsms-wrap .postbox table tr td,
.wpsms-wrap .postbox table tr th {
  padding: 20px 10px;
}

#TB_ajaxContent {
  height: min-content !important;
}

.wps-block {
  display: block;
}

.wps-multiselect-label {
  margin: 5px;
}

td.response.column-response p {
  white-space: pre-wrap;
}

.thickbox-description {
  padding-top: 0 !important;
  margin-top: 0 !important;
  text-align: justify;
}

.wp-sms-popup-messages {
  p {
    padding: 10px 0 !important;
  }
}
