
.wp-sms-modal--premium {
  position: fixed;
  background: #000000b3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100050;
  display: none;

  a:focus{
    box-shadow: none;
  }
  .wp-sms-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 #00000026;
    max-width: 85%;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .wp-sms-modal__premium-step {
    display: none;

    &__desc , &__desc P{
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color:#292D32;

      @media (max-width: 768px){
        font-size: 14px;
        line-height: 22px;
      }
    }

    @media(max-width: 768px) {
      min-height: unset!important;
    }
  }

  .wp-sms-modal__content--premium-steps {
    display: none;
    width: 820px;
    padding: 32px;
    box-sizing: border-box;
    max-width: 86%;
  }

  .wp-sms-modal__premium-step--active {
    display: block; /* Show the active step */
  }

  .wp-sms-premium-step {

    &__header {
      position: relative;
      span.wp-sms-premium-step__skip {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        cursor: pointer;
        right: -15px;
        top: -15px;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMSAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgb3BhY2l0eT0iMC44Ij4KPHBhdGggZD0iTTE0LjY1NTIgMTVMMTAgMTAuMzQ0OEwxMC44NDQ4IDkuNUwxNS41IDE0LjE1NTJMMjAuMTU1MiA5LjVMMjEgMTAuMzQ0OEwxNi4zNDQ4IDE1TDIxIDE5LjY1NTFMMjAuMTU1MiAyMC41TDE1LjUgMTUuODQ0OEwxMC44NDQ4IDIwLjVMMTAgMTkuNjU1MUwxNC42NTUyIDE1WiIgZmlsbD0iIzU2NTg1QSIvPgo8L2c+Cjwvc3ZnPgo=") center center no-repeat;

        .rtl & {
          right: unset;
          left: -15px;
        }

        &:hover {
          filter: contrast(2.5);
        }
      }

      .wp-sms-premium-step__title{
        color: $dim-black-color;
        font-weight: 500;
        font-size: 21px;
        margin-top: 8px;
        margin-bottom: 24px;
      }

      span:nth-child(2) {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.06px;
        color: #C2410C;
        text-transform: uppercase;
      }

      p {
        padding: 0;
        font-size: 21px;
        font-weight: 500;
        color: #0C0C0D;
        margin: 8px 0 0;
      }
    }

    &__body {
      display: flex;
      gap: 25px;
      flex-direction: row;

      @media(max-width: 768px) {
        flex-direction: column;
        gap: 24px;
      }

      .js-wp-sms-premium-step__title{
        display: none;
      }

      .wp-sms-premium-step__content {
        @media(min-width: 769px) {
          width: calc(100% - 210px);
        }
        .wp-sms-modal__premium-step__desc{
          margin: 0!important;
        }
        p , .wp-sms-modal__premium-step__desc{
          font-size: 14px;
          font-weight: 400;
          color: #292D32;
          padding: 0;
          margin: 16px 0 0;
          min-height: 63px;

          &:first-child {
            margin: 0;
          }
        }

        a {
          font-weight: 400;
          text-decoration: underline;
        }
      }

      .wp-sms-premium-step__image {
        width: 100%;
        margin-top: 16px;
        height: auto;

        @media (max-width: 768px){
          margin-top: 24px;
        }
      }

      .js-wp-sms-premium-step__title {
        font-weight: 500;
        font-size: 21px;
        margin-top: -40px;
        color: #0C0C0D;
        margin-bottom: 24px;
      }
    }

    &__sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 206px;

      p {
        margin: 0 0 16px;
        font-size: 13px;
        font-weight: 500;
        color: #0C0C0D;
      }

      .wp-sms-premium-step__features-list {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        align-items: self-start;

        li {
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          color: #56585A;
          list-style: disc;
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 8px;


          &:before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            min-width: 16px;
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjIiIGZpbGw9IiNEQURDRTAiLz4KPC9zdmc+Cg==") center center no-repeat;
          }

          &.active {
            font-weight: 600;
            color: #C2410C;

            &:before {
              background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjIiIGZpbGw9IiNDMjQxMEMiLz4KPC9zdmc+Cg==") center center no-repeat;
            }
          }

          &.activated:before {
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC44MzQyIDQuNzVMOC4xNTY1MiAxMS40Mjc3TDQuNzAwMTQgNy45NzEyOUwzLjU2MjUgOS4xMDg5M0w4LjE1NjUyIDEzLjcwMzdMMTUuOTcyNiA1Ljg4ODQ0TDE0LjgzNDIgNC43NVoiIGZpbGw9IiMxOTYxNDAiLz4KPC9zdmc+Cg==") center center no-repeat;
          }

          &.no-license:before {
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjE4NDkgMi4zNzY0NEwxNy43MjY2IDE1LjQzOUMxNy45NDUyIDE1LjgxNzYgMTcuODE1NSAxNi4zMDE4IDE3LjQzNjggMTYuNTIwNEMxNy4zMTY1IDE2LjU4OTkgMTcuMTc5OSAxNi42MjY1IDE3LjA0MSAxNi42MjY1SDEuOTU3NjhDMS41MjA0NiAxNi42MjY1IDEuMTY2MDIgMTYuMjcyIDEuMTY2MDIgMTUuODM0OEMxLjE2NjAyIDE1LjY5NTggMS4yMDI2IDE1LjU1OTMgMS4yNzIwOCAxNS40MzlMOC44MTM3MyAyLjM3NjQ0QzkuMDMyMzEgMS45OTc3OCA5LjUxNjQ5IDEuODY4MDUgOS44OTUxNSAyLjA4NjY2QzEwLjAxNTUgMi4xNTYxNSAxMC4xMTU1IDIuMjU2MDkgMTAuMTg0OSAyLjM3NjQ0Wk0zLjMyODg5IDE1LjA0MzFIMTUuNjY5N0w5LjQ5OTMxIDQuMzU1NkwzLjMyODg5IDE1LjA0MzFaTTguNzA3NjUgMTIuNjY4MUgxMC4yOTFWMTQuMjUxNUg4LjcwNzY1VjEyLjY2ODFaTTguNzA3NjUgNy4xMjY0NEgxMC4yOTFWMTEuMDg0OEg4LjcwNzY1VjcuMTI2NDRaIiBmaWxsPSIjRkZBNTAwIi8+Cjwvc3ZnPgo=") center center no-repeat;
          }

          &.not-active:before {
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC44MzQyIDQuNzVMOC4xNTY1MiAxMS40Mjc3TDQuNzAwMTQgNy45NzEyOUwzLjU2MjUgOS4xMDg5M0w4LjE1NjUyIDEzLjcwMzdMMTUuOTcyNiA1Ljg4ODQ0TDE0LjgzNDIgNC43NVoiIGZpbGw9IiNBOUFBQUUiLz4KPC9zdmc+Cg==") center center no-repeat;
          }

          .wp-sms-premium-step__feature-badge {
            color: #56585A;
            background: #EEEFF1;
            padding: 2px 6px;
            border-radius: 4px;
            font-size: 13px;
            font-weight: 400;
            cursor: default;
          }

        }
      }

      .wp-sms-premium-step__actions {
        width: 100%;
        text-align: center;
        margin-top: 30px;


        .js-wp-sms-premium-steps__side-buttons {
          .wp-sms-premium-step__action-container {
            display: none;

            &.active {
              display: block;
            }
          }

          .wp-sms-premium-step__action-btn--upgrade--active {
            display: flex;
          }
        }

        .wp-sms-premium-step__action-btn {
          padding: 8px 28px;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          text-align: center;
          display: block;
          box-sizing: border-box;
          width: 100%;
          white-space: nowrap;


          &--upgrade, &--addons {
            background: #EA580C;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            &.activated {
              border: 1px solid #196140;
              background: #FFFFFF;
              color: #196140;
              pointer-events: none;
              white-space: nowrap;

              &:after {
                display: none !important;
              }
            }

            &:after {
              content: '';
              width: 16px;
              min-width: 16px;
              height: 16px;
              background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE3IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTcgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05LjI4MTMgOC4wMDA0N0w1Ljk4MTQ1IDQuNzAwNjJMNi45MjQyNiAzLjc1NzgxTDExLjE2NjkgOC4wMDA0N0w2LjkyNDI2IDEyLjI0MzFMNS45ODE0NSAxMS4zMDAzTDkuMjgxMyA4LjAwMDQ3WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
              display: inline-block;

              .rtl & {
                transform: rotate(180deg);
              }
            }

            &:hover {
              background: #C2410C;
            }

          }

          &--later {
            color: #737373;
            margin: 8px auto 0;
            border: 1px solid #D4D4D4;
            font-size: 13px;
            font-weight: 400;

            &:hover {
              color: #1b1c1c;
              background: #eeeff199;
            }
          }
        }
      }
    }

    &__notice {
      padding: 8px 12px;
      gap: 7px;
      border-radius: 8px;
      display: flex;
      margin-top: 16px;
      color: #196140;
      background: #F6FAF6;
      font-size: 14px;
      font-weight: 400;

      @media(max-width: 768px){
        margin-top: 24px;
      }

      &:before {
        content: '';;
        width: 11.7px;
        min-width: 11.7px;
        display: inline-block;
        height: 11.7px;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuODUgMTEuN0MyLjYxOTEzIDExLjcgMCA5LjA4MDg0IDAgNS44NUMwIDIuNjE5MTMgMi42MTkxMyAwIDUuODUgMEM5LjA4MDg0IDAgMTEuNyAyLjYxOTEzIDExLjcgNS44NUMxMS43IDkuMDgwODQgOS4wODA4NCAxMS43IDUuODUgMTEuN1pNNS4yNjY1MiA4LjE5TDkuNDAzMTEgNC4wNTM0Mkw4LjU3NTgxIDMuMjI2MTFMNS4yNjY1MiA2LjUzNTM5TDMuNjExOTEgNC44ODA3MUwyLjc4NDU5IDUuNzA4MDhMNS4yNjY1MiA4LjE5WiIgZmlsbD0iIzQ4OUU0RSIvPgo8L3N2Zz4K") center center no-repeat;
        margin-top: 5px;
        background-size: 11.7px 11.7px;
      }

      &--warning {
        background: #FEF9F5;
        color: #E68C3F;

        &:before {
          width: 13.31px;
          min-width: 13.31px;
          background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMjA0NzYgMC4zMTYzMjFMMTMuMjI5NCAxMC43NTE0QzEzLjQwNDEgMTEuMDUzOSAxMy4zMDA1IDExLjQ0MDYgMTIuOTk4IDExLjYxNTNDMTIuOTAxOCAxMS42NzA4IDEyLjc5MjcgMTEuNyAxMi42ODE4IDExLjdIMC42MzI0MjZDMC4yODMxNSAxMS43IDAgMTEuNDE2OSAwIDExLjA2NzZDMCAxMC45NTY1IDAuMDI5MjI0NCAxMC44NDc1IDAuMDg0NzMyNCAxMC43NTE0TDYuMTA5NCAwLjMxNjMyMUM2LjI4NDAxIDAuMDEzODMxNyA2LjY3MDgxIC0wLjA4OTgwMzggNi45NzMyOSAwLjA4NDgzNDJDNy4wNjk0MiAwLjE0MDM0MiA3LjE0OTMgMC4yMjAxOCA3LjIwNDc2IDAuMzE2MzIxWk02LjAyNDY2IDguNTM3ODdWOS44MDI3Mkg3LjI4OTUxVjguNTM3ODdINi4wMjQ2NlpNNi4wMjQ2NiA0LjExMDg3VjcuMjczMDJINy4yODk1MVY0LjExMDg3SDYuMDI0NjZaIiBmaWxsPSIjRTY4QzNGIi8+Cjwvc3ZnPgo=") center center no-repeat;
          background-size: 11.7px 13.31px;
        }
      }
    }
  }


  @keyframes wpsFadeIn {
    from {
      display: none;
    }
    to {
      display: flex;
    }
  }

  .v-image-lazy {
    transition: all .5s ease-in 0s;
  }
}

