
/* Privacy Page */
.privacy_page input[type=tel] {
  margin-top: 15px;
  height: 35px;
  min-width: 250px;
}

.privacy_page #universal-message-container {
  padding: 2px 0px 17px 0px;
}

.privacy_page .text-lead {
  line-height: 26px;
  text-align: justify;
}
