.wpsms-error-notice {
  background-color: #ffd5d5;
  padding: 7px 7px;
  display: inline-block;
  border: 1px solid #ffb7b7;
  border-radius: 2px;
  color: #e02222;
}

.wpsms-time {
  clear: both;
  color: #a4a2a2;
  display: block;
  font-size: 10px;
}

.wpsms-color-green {
  color: #27bb00;
}

.wpsms-color-red {
  color: #f10000;
}

.wpsms-wrap-woo-pro a.page-title-action {
  padding: 4px 21px !important;
  font-weight: 400 !important;
  transition: 0.2s;
  border-radius: 3px;
  color: #9A3412;
  border: 1px solid #9A3412;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  min-height: unset;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background: #FFF7ED;
  }

  &:before {
    content: '';
    vertical-align: text-top;
    display: inline-flex;
    width: 18px;
    min-width: 18px;
    height: 18px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguMjUgOC4yNVYzLjc1SDkuNzVWOC4yNUgxNC4yNVY5Ljc1SDkuNzVWMTQuMjVIOC4yNVY5Ljc1SDMuNzVWOC4yNUg4LjI1WiIgZmlsbD0iI0MyNDIyNSIvPgo8L3N2Zz4K") center no-repeat;
  }

  &:focus {
    box-shadow: none;
    outline: none;
    background: #FED7AA;
  }
}

.wpsms-flex {
  display: flex;
}

.wpsms-flex-col {
  flex-direction: column;
  align-items: flex-start !important;
}

.wpsms-wrap .wpsms-wrap__top .wpsms-button-group {
  gap: 12px;
  display: inline-flex;
  margin-top: 0 !important;

  .button {
    padding: 4px 21px !important;
    font-weight: 400 !important;
    transition: 0.2s;
    border-radius: 3px;
    color: #9A3412 !important;
    border: 1px solid #9A3412 !important;
    font-size: 13px;
    line-height: 24px;
    min-height: unset;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #fff;

    &:hover {
      background: #FFF7ED;
    }

    &:focus, &:active {
      background: #FED7AA;
      box-shadow: none;
    }

    @media (max-width: 1280px) {
      padding: 4px 16px !important;
      font-size: 12px;
      line-height: 15px;
      margin-top: 0 !important;
      margin-bottom: 12px !important;
    }
  }

  .dashicons {
    vertical-align: text-top;
    line-height: 15px;
    width: 18px;
    height: 18px;


    &::before {
      display: inline-block;
      content: '';
      width: 18px;
      height: 18px;
    }

    &.dashicons-redo::before {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjUgOS43NUgxNVY1LjI1SDguNjg5MzVMNy4xODkzNCAzLjc1SDNWMTQuMjVIOS43NVYxNS43NUgyLjI1QzEuODM1NzkgMTUuNzUgMS41IDE1LjQxNDIgMS41IDE1VjNDMS41IDIuNTg1NzkgMS44MzU3OSAyLjI1IDIuMjUgMi4yNUg3LjgxMDY1TDkuMzEwNjUgMy43NUgxNS43NUMxNi4xNjQyIDMuNzUgMTYuNSA0LjA4NTc5IDE2LjUgNC41VjkuNzVaTTE1IDEyLjc1SDE3LjI1VjE0LjI1SDE1VjE2Ljg3NUwxMS4yNSAxMy41TDE1IDEwLjEyNVYxMi43NVoiIGZpbGw9IiNDMjQyMjUiLz4KPC9zdmc+Cg==") no-repeat center;
    }

    &.dashicons-undo::before {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjUgOS43NUgxNVY1LjI1SDguNjg5MzVMNy4xODkzNCAzLjc1SDNWMTQuMjVIOS43NVYxNS43NUgyLjI1QzEuODM1NzkgMTUuNzUgMS41IDE1LjQxNDIgMS41IDE1VjNDMS41IDIuNTg1NzkgMS44MzU3OSAyLjI1IDIuMjUgMi4yNUg3LjgxMDY1TDkuMzEwNjUgMy43NUgxNS43NUMxNi4xNjQyIDMuNzUgMTYuNSA0LjA4NTc5IDE2LjUgNC41VjkuNzVaTTEzLjUgMTIuNzVWMTAuMTI1TDE3LjI1IDEzLjVMMTMuNSAxNi44NzVWMTQuMjVIMTEuMjVWMTIuNzVIMTMuNVoiIGZpbGw9IiNDMjQyMjUiLz4KPC9zdmc+Cg==") no-repeat center;
    }

    &.dashicons-category::before {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNSAxNi41QzEuNSAxMy4xODYzIDQuMTg2MjkgMTAuNSA3LjUgMTAuNUMxMC44MTM3IDEwLjUgMTMuNSAxMy4xODYzIDEzLjUgMTYuNUgxMkMxMiAxNC4wMTQ3IDkuOTg1MjggMTIgNy41IDEyQzUuMDE0NzIgMTIgMyAxNC4wMTQ3IDMgMTYuNUgxLjVaTTcuNSA5Ljc1QzUuMDEzNzUgOS43NSAzIDcuNzM2MjUgMyA1LjI1QzMgMi43NjM3NSA1LjAxMzc1IDAuNzUgNy41IDAuNzVDOS45ODYyNSAwLjc1IDEyIDIuNzYzNzUgMTIgNS4yNUMxMiA3LjczNjI1IDkuOTg2MjUgOS43NSA3LjUgOS43NVpNNy41IDguMjVDOS4xNTc1IDguMjUgMTAuNSA2LjkwNzUgMTAuNSA1LjI1QzEwLjUgMy41OTI1IDkuMTU3NSAyLjI1IDcuNSAyLjI1QzUuODQyNSAyLjI1IDQuNSAzLjU5MjUgNC41IDUuMjVDNC41IDYuOTA3NSA1Ljg0MjUgOC4yNSA3LjUgOC4yNVpNMTMuNzEyOCAxMS4wMjcxQzE1Ljc5ODMgMTEuOTY3MSAxNy4yNSAxNC4wNjQgMTcuMjUgMTYuNUgxNS43NUMxNS43NSAxNC42NzMgMTQuNjYxMiAxMy4xMDAzIDEzLjA5NzEgMTIuMzk1M0wxMy43MTI4IDExLjAyNzFaTTEzLjE5NzIgMi41NTk5MUMxNC42OTU4IDMuMTc3NzcgMTUuNzUgNC42NTI3MSAxNS43NSA2LjM3NUMxNS43NSA4LjUyNzY1IDE0LjEwMzIgMTAuMjkzOSAxMiAxMC40ODMyVjguOTczNDVDMTMuMjcyNSA4Ljc5MTY1IDE0LjI1IDcuNjk4IDE0LjI1IDYuMzc1QzE0LjI1IDUuMzM5NTEgMTMuNjUxMiA0LjQ0NDUyIDEyLjc4MDggNC4wMTcyNkwxMy4xOTcyIDIuNTU5OTFaIiBmaWxsPSIjQzI0MjI1Ii8+Cjwvc3ZnPgo=") no-repeat center;
    }

    &.dashicons-admin-users::before {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUgMTAuNjg5VjEyLjI1NjFDMTAuMDMwOCAxMi4wOTAyIDkuNTI1OTggMTIgOSAxMkM2LjUxNDcyIDEyIDQuNSAxNC4wMTQ3IDQuNSAxNi41SDNDMyAxMy4xODYzIDUuNjg2MjkgMTAuNSA5IDEwLjVDOS41MTc5NSAxMC41IDEwLjAyMDYgMTAuNTY1NiAxMC41IDEwLjY4OVpNOSA5Ljc1QzYuNTEzNzUgOS43NSA0LjUgNy43MzYyNSA0LjUgNS4yNUM0LjUgMi43NjM3NSA2LjUxMzc1IDAuNzUgOSAwLjc1QzExLjQ4NjMgMC43NSAxMy41IDIuNzYzNzUgMTMuNSA1LjI1QzEzLjUgNy43MzYyNSAxMS40ODYzIDkuNzUgOSA5Ljc1Wk05IDguMjVDMTAuNjU3NSA4LjI1IDEyIDYuOTA3NSAxMiA1LjI1QzEyIDMuNTkyNSAxMC42NTc1IDIuMjUgOSAyLjI1QzcuMzQyNSAyLjI1IDYgMy41OTI1IDYgNS4yNUM2IDYuOTA3NSA3LjM0MjUgOC4yNSA5IDguMjVaTTEzLjUgMTIuNzVWMTAuNUgxNVYxMi43NUgxNy4yNVYxNC4yNUgxNVYxNi41SDEzLjVWMTQuMjVIMTEuMjVWMTIuNzVIMTMuNVoiIGZpbGw9IiNDMjQyMjUiLz4KPC9zdmc+Cg==") no-repeat center;
    }

    &.dashicons-groups::before {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuODc1IDUuMjVDMS44NzUgNy4xMTM5NiAzLjM4NjA0IDguNjI1IDUuMjUgOC42MjVDNy4xMTM5NiA4LjYyNSA4LjYyNSA3LjExMzk2IDguNjI1IDUuMjVDOC42MjUgMy4zODYwNCA3LjExMzk2IDEuODc1IDUuMjUgMS44NzVDMy4zODYwNCAxLjg3NSAxLjg3NSAzLjM4NjA0IDEuODc1IDUuMjVaTTEuODc1IDEyLjc1QzEuODc1IDE0LjYxNCAzLjM4NjA0IDE2LjEyNSA1LjI1IDE2LjEyNUM3LjExMzk2IDE2LjEyNSA4LjYyNSAxNC42MTQgOC42MjUgMTIuNzVDOC42MjUgMTAuODg2IDcuMTEzOTYgOS4zNzUgNS4yNSA5LjM3NUMzLjM4NjA0IDkuMzc1IDEuODc1IDEwLjg4NiAxLjg3NSAxMi43NVpNOS4zNzUgMTIuNzVDOS4zNzUgMTQuNjE0IDEwLjg4NiAxNi4xMjUgMTIuNzUgMTYuMTI1QzE0LjYxNCAxNi4xMjUgMTYuMTI1IDE0LjYxNCAxNi4xMjUgMTIuNzVDMTYuMTI1IDEwLjg4NiAxNC42MTQgOS4zNzUgMTIuNzUgOS4zNzVDMTAuODg2IDkuMzc1IDkuMzc1IDEwLjg4NiA5LjM3NSAxMi43NVpNNy4xMjUgNS4yNUM3LjEyNSA2LjI4NTUzIDYuMjg1NTMgNy4xMjUgNS4yNSA3LjEyNUM0LjIxNDQ3IDcuMTI1IDMuMzc1IDYuMjg1NTMgMy4zNzUgNS4yNUMzLjM3NSA0LjIxNDQ3IDQuMjE0NDcgMy4zNzUgNS4yNSAzLjM3NUM2LjI4NTUzIDMuMzc1IDcuMTI1IDQuMjE0NDcgNy4xMjUgNS4yNVpNNy4xMjUgMTIuNzVDNy4xMjUgMTMuNzg1NSA2LjI4NTUzIDE0LjYyNSA1LjI1IDE0LjYyNUM0LjIxNDQ3IDE0LjYyNSAzLjM3NSAxMy43ODU1IDMuMzc1IDEyLjc1QzMuMzc1IDExLjcxNDUgNC4yMTQ0NyAxMC44NzUgNS4yNSAxMC44NzVDNi4yODU1MyAxMC44NzUgNy4xMjUgMTEuNzE0NSA3LjEyNSAxMi43NVpNMTQuNjI1IDEyLjc1QzE0LjYyNSAxMy43ODU1IDEzLjc4NTUgMTQuNjI1IDEyLjc1IDE0LjYyNUMxMS43MTQ1IDE0LjYyNSAxMC44NzUgMTMuNzg1NSAxMC44NzUgMTIuNzVDMTAuODc1IDExLjcxNDUgMTEuNzE0NSAxMC44NzUgMTIuNzUgMTAuODc1QzEzLjc4NTUgMTAuODc1IDE0LjYyNSAxMS43MTQ1IDE0LjYyNSAxMi43NVpNMTIgOC4yNVY2SDkuNzVWNC41SDEyVjIuMjVIMTMuNVY0LjVIMTUuNzVWNkgxMy41VjguMjVIMTJaIiBmaWxsPSIjQzI0MjI1Ii8+Cjwvc3ZnPgo=") no-repeat center;
    }
  }
}

#wpsms-select-subscriber-group {
  display: none;
}

#wpsms-custom-text {
  display: none;
}

#wpsms-custom-text textarea {
  font-size: 12px;
  width: 100%;
  height: 114px;
}

#wpsms-custom-text p.description.data, #wpsms-custom-text code {
  font-size: 11px !important;
}

.wpsms-plugin-meta-link span {
  font-size: 14px;
  vertical-align: sub;
}

.wpsms-plugin-meta-link.wp-sms-pro {
  color: green;
  font-weight: bold;
}

.wpsms-aio-tab {
  color: #F1F1F1;
  background: #21A8D2;
}

.wpsms-tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;


}

.wpsms_plugins_page-title {
  .wpsms-tooltip-icon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02Ljk5ODcgMC4zNDM3NUMzLjMxNjcgMC4zNDM3NSAwLjMzMjAzMSAzLjMyODQyIDAuMzMyMDMxIDcuMDEwNDJDMC4zMzIwMzEgMTAuNjkyNCAzLjMxNjcgMTMuNjc3MSA2Ljk5ODcgMTMuNjc3MUMxMC42ODA3IDEzLjY3NzEgMTMuNjY1NCAxMC42OTI0IDEzLjY2NTQgNy4wMTA0MkMxMy42NjU0IDMuMzI4NDIgMTAuNjgwNyAwLjM0Mzc1IDYuOTk4NyAwLjM0Mzc1Wk02Ljk5ODcgMS42NzcwOEM4LjQxMzE5IDEuNjc3MDggOS43Njk3NCAyLjIzODk5IDEwLjc2OTkgMy4yMzkxOEMxMS43NzAxIDQuMjM5MzcgMTIuMzMyIDUuNTk1OTMgMTIuMzMyIDcuMDEwNDJDMTIuMzMyIDguNDI0OSAxMS43NzAxIDkuNzgxNDYgMTAuNzY5OSAxMC43ODE3QzkuNzY5NzQgMTEuNzgxOCA4LjQxMzE5IDEyLjM0MzcgNi45OTg3IDEyLjM0MzdDNS41ODQyMSAxMi4zNDM3IDQuMjI3NjYgMTEuNzgxOCAzLjIyNzQ2IDEwLjc4MTdDMi4yMjcyNyA5Ljc4MTQ2IDEuNjY1MzYgOC40MjQ5IDEuNjY1MzYgNy4wMTA0MkMxLjY2NTM2IDUuNTk1OTMgMi4yMjcyNyA0LjIzOTM3IDMuMjI3NDYgMy4yMzkxOEM0LjIyNzY2IDIuMjM4OTkgNS41ODQyMSAxLjY3NzA4IDYuOTk4NyAxLjY3NzA4Wk02Ljk5ODcgMy42NzcwOEM2LjgyMTg5IDMuNjc3MDggNi42NTIzMiAzLjc0NzMyIDYuNTI3MjkgMy44NzIzNUM2LjQwMjI3IDMuOTk3MzcgNi4zMzIwMyA0LjE2Njk0IDYuMzMyMDMgNC4zNDM3NUM2LjMzMjAzIDQuNTIwNTYgNi40MDIyNyA0LjY5MDEzIDYuNTI3MjkgNC44MTUxNUM2LjY1MjMyIDQuOTQwMTggNi44MjE4OSA1LjAxMDQyIDYuOTk4NyA1LjAxMDQyQzcuMTc1NTEgNS4wMTA0MiA3LjM0NTA4IDQuOTQwMTggNy40NzAxIDQuODE1MTVDNy41OTUxMyA0LjY5MDEzIDcuNjY1MzYgNC41MjA1NiA3LjY2NTM2IDQuMzQzNzVDNy42NjUzNiA0LjE2Njk0IDcuNTk1MTMgMy45OTczNyA3LjQ3MDEgMy44NzIzNUM3LjM0NTA4IDMuNzQ3MzIgNy4xNzU1MSAzLjY3NzA4IDYuOTk4NyAzLjY3NzA4Wk02LjMzMjAzIDUuNjc3MDhDNi4xNTUyMiA1LjY3NzA4IDUuOTg1NjUgNS43NDczMiA1Ljg2MDYzIDUuODcyMzVDNS43MzU2IDUuOTk3MzcgNS42NjUzNiA2LjE2Njk0IDUuNjY1MzYgNi4zNDM3NUM1LjY2NTM2IDYuNjY1MDggNS45MDQ3IDYuOTA1MDggNi4yMDY3IDYuOTY5MDhMNS44MTEzNiA4Ljg4NTA4QzUuNjU2NyA5LjY1OTA4IDYuMjEwMDMgMTAuMzQzNyA2Ljk5ODAzIDEwLjM0MzdINy42NjQ3QzcuODQxNTEgMTAuMzQzNyA4LjAxMTA4IDEwLjI3MzUgOC4xMzYxIDEwLjE0ODVDOC4yNjExMyAxMC4wMjM1IDguMzMxMzYgOS44NTM4OSA4LjMzMTM2IDkuNjc3MDhDOC4zMzEzNiA5LjUwMDI3IDguMjYxMTMgOS4zMzA3IDguMTM2MSA5LjIwNTY4QzguMDExMDggOS4wODA2NSA3Ljg0MTUxIDkuMDEwNDIgNy42NjQ3IDkuMDEwNDJINy4xNDQ3TDcuNjQ0NyA2LjQ2OTA4QzcuNjY0NzggNi4zNzMxNCA3LjY2MzE1IDYuMjczOTEgNy42Mzk5MyA2LjE3ODY4QzcuNjE2NyA2LjA4MzQ0IDcuNTcyNDcgNS45OTQ2IDcuNTEwNDggNS45MTg2N0M3LjQ0ODQ4IDUuODQyNzQgNy4zNzAyOCA1Ljc4MTY0IDcuMjgxNjIgNS43Mzk4NEM3LjE5Mjk1IDUuNjk4MDQgNy4wOTYwNiA1LjY3NjU5IDYuOTk4MDMgNS42NzcwOEg2LjMzMjAzWiIgZmlsbD0iIzU2NTg1QSIvPgo8L3N2Zz4K");
  }

  .wpsms-tooltip {
    width: 16px;
    height: 16px;
    margin: 3px 0 0 7px;
  }
}

.wpsms-tooltip-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 13C12.5 11 14 11.5 14 10C14 9.34375 13.5 8.5 12.5 8.5C11.5 8.5 11 9 10.5 9.5M12.5 16V14.5M20.5 12.5C20.5 16.9183 16.9183 20.5 12.5 20.5C8.08172 20.5 4.5 16.9183 4.5 12.5C4.5 8.08172 8.08172 4.5 12.5 4.5C16.9183 4.5 20.5 8.08172 20.5 12.5Z' stroke='%233c434a' stroke-width='1.2'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  top: -2px;
}

.wpsms-wrap__main h2 {
  .wpsms-tooltip {
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin: 0 5px;
  }

  .wpsms-tooltip-icon {
    top: 0.5px;
    width: 11.6px;
    height: 11.6px;
    background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01Ljk5OTM1IDAuMTc0ODA1QzIuNzc3NiAwLjE3NDgwNSAwLjE2NjAxNiAyLjc4NjM5IDAuMTY2MDE2IDYuMDA4MTRDMC4xNjYwMTYgOS4yMjk4OSAyLjc3NzYgMTEuODQxNSA1Ljk5OTM1IDExLjg0MTVDOS4yMjExIDExLjg0MTUgMTEuODMyNyA5LjIyOTg5IDExLjgzMjcgNi4wMDgxNEMxMS44MzI3IDIuNzg2MzkgOS4yMjExIDAuMTc0ODA1IDUuOTk5MzUgMC4xNzQ4MDVaTTUuOTk5MzUgMS4zNDE0N0M3LjIzNzAzIDEuMzQxNDcgOC40MjQwMSAxLjgzMzE0IDkuMjk5MTggMi43MDgzMUMxMC4xNzQ0IDMuNTgzNDggMTAuNjY2IDQuNzcwNDYgMTAuNjY2IDYuMDA4MTRDMTAuNjY2IDcuMjQ1ODEgMTAuMTc0NCA4LjQzMjggOS4yOTkxOCA5LjMwNzk3QzguNDI0MDEgMTAuMTgzMSA3LjIzNzAzIDEwLjY3NDggNS45OTkzNSAxMC42NzQ4QzQuNzYxNjcgMTAuNjc0OCAzLjU3NDY5IDEwLjE4MzEgMi42OTk1MiA5LjMwNzk3QzEuODI0MzUgOC40MzI4IDEuMzMyNjggNy4yNDU4MSAxLjMzMjY4IDYuMDA4MTRDMS4zMzI2OCA0Ljc3MDQ2IDEuODI0MzUgMy41ODM0OCAyLjY5OTUyIDIuNzA4MzFDMy41NzQ2OSAxLjgzMzE0IDQuNzYxNjcgMS4zNDE0NyA1Ljk5OTM1IDEuMzQxNDdaTTUuOTk5MzUgMy4wOTE0N0M1Ljg0NDY0IDMuMDkxNDcgNS42OTYyNyAzLjE1MjkzIDUuNTg2ODcgMy4yNjIzM0M1LjQ3NzQ3IDMuMzcxNzIgNS40MTYwMiAzLjUyMDA5IDUuNDE2MDIgMy42NzQ4QzUuNDE2MDIgMy44Mjk1MSA1LjQ3NzQ3IDMuOTc3ODkgNS41ODY4NyA0LjA4NzI4QzUuNjk2MjcgNC4xOTY2OCA1Ljg0NDY0IDQuMjU4MTQgNS45OTkzNSA0LjI1ODE0QzYuMTU0MDYgNC4yNTgxNCA2LjMwMjQzIDQuMTk2NjggNi40MTE4MyA0LjA4NzI4QzYuNTIxMjIgMy45Nzc4OSA2LjU4MjY4IDMuODI5NTEgNi41ODI2OCAzLjY3NDhDNi41ODI2OCAzLjUyMDA5IDYuNTIxMjIgMy4zNzE3MiA2LjQxMTgzIDMuMjYyMzNDNi4zMDI0MyAzLjE1MjkzIDYuMTU0MDYgMy4wOTE0NyA1Ljk5OTM1IDMuMDkxNDdaTTUuNDE2MDIgNC44NDE0N0M1LjI2MTMxIDQuODQxNDcgNS4xMTI5MyA0LjkwMjkzIDUuMDAzNTQgNS4wMTIzM0M0Ljg5NDE0IDUuMTIxNzIgNC44MzI2OCA1LjI3MDA5IDQuODMyNjggNS40MjQ4QzQuODMyNjggNS43MDU5NyA1LjA0MjEgNS45MTU5NyA1LjMwNjM1IDUuOTcxOTdMNC45NjA0MyA3LjY0ODQ3QzQuODI1MSA4LjMyNTcyIDUuMzA5MjcgOC45MjQ4IDUuOTk4NzcgOC45MjQ4SDYuNTgyMUM2LjczNjgxIDguOTI0OCA2Ljg4NTE4IDguODYzMzUgNi45OTQ1OCA4Ljc1Mzk1QzcuMTAzOTcgOC42NDQ1NSA3LjE2NTQzIDguNDk2MTggNy4xNjU0MyA4LjM0MTQ3QzcuMTY1NDMgOC4xODY3NiA3LjEwMzk3IDguMDM4MzkgNi45OTQ1OCA3LjkyODk5QzYuODg1MTggNy44MTk2IDYuNzM2ODEgNy43NTgxNCA2LjU4MjEgNy43NTgxNEg2LjEyNzFMNi41NjQ2IDUuNTM0NDdDNi41ODIxNyA1LjQ1MDUyIDYuNTgwNzUgNS4zNjM3IDYuNTYwNDMgNS4yODAzN0M2LjU0MDEgNS4xOTcwMyA2LjUwMTQgNS4xMTkzIDYuNDQ3MTUgNS4wNTI4NkM2LjM5MjkxIDQuOTg2NDIgNi4zMjQ0OSA0LjkzMjk2IDYuMjQ2OSA0Ljg5NjM4QzYuMTY5MzIgNC44NTk4IDYuMDg0NTQgNC44NDEwNCA1Ljk5ODc3IDQuODQxNDdINS40MTYwMloiIGZpbGw9IiM1QjVCNUIiLz4KPC9zdmc+Cg==")
  }
}

.tooltipster-flat {
  .tooltipster-box {
    border-color: #222;
    background: #222;
    border-radius: 6px;
  }

  .tooltipster-arrow {
    bottom: -2px !important;

    .tooltipster-arrow-border {
      border-top-color: #222;
    }

    .tooltipster-arrow-background {
      border-top-color: #222;
    }
  }
}


.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.menu-bar {
  display: block;
  width: 13px;
  height: 2px;
  margin: 3px auto;
  background-color: #FFFFFFB2;
  border-radius: 3px;
  transition: background-color 0.3s, transform 0.3s;
}

.hamburger-menu-container {
  position: relative;
  color: #FFFFFFB2;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  display: flex;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
  background: transparent;
  transition: background-color 0.3s;
  height: 33px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: #FFFFFF33;
    color: #fff;
  }
}

.wpsms-menu-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 190px;
  z-index: 1;
  right: 0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 #0000001A;
  top: calc(100% + 4px);

  & > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #4E5154;
    display: flex;
    padding: 8px 16px;
    gap: 12px;
    position: relative;
    align-items: center;

    &.active, &:hover {
      background: #F3F3F5;
    }

    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }

    &.integrations::after {
      content: '';
      width: calc(100% - 32px);
      position: absolute;
      left: 16px;
      bottom: -5px;
      height: 1px;
      background: #F3F3F5;
    }
  }

  .wpsms-license {
    padding: 0 16px;
  }

  .license-status {
    background: #C24225 !important;
  }
}

#wpsms-menu-toggle, .wpsms-mobile-menu {
  display: none;

  .license-status a {
    font-weight: 600;

    &:before {
      width: 19px;
      height: 19px;
    }

    &.upgrade {
      height: 28px;
    }
  }
}

.wp-sms-notice{
  border-radius: 8px;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  color:#0C0C0D;

  &:before{
    content: '';
    width: 16.72px;
    min-width: 16.72px;
    height: 14.69px;
    display: inline-flex;
    margin-top: 4px;
  }

  &__title{
     font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    margin: 0 0 4px 0;

  }

  &__desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    a{
      color:#404BF2;
      &:hover{
        color:#0C0C0D;
      }
    }
  }

  &--warning{
    border: 1px solid #E68C3F80;
    background: #FEF9F5;
    box-shadow: 1px 2px 4px 0 #00000005;

    &:before{
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNyAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuMTcxMjggMC4zOTc0MjlMMTYuNzQwNyAxMy41MDgxQzE2Ljk2MDIgMTMuODg4MiAxNi44MyAxNC4zNzQxIDE2LjQ0OTkgMTQuNTkzNUMxNi4zMjkxIDE0LjY2MzMgMTYuMTkyMSAxNC43IDE2LjA1MjYgMTQuN0gwLjkxMzcyN0MwLjQ3NDg5MyAxNC43IDAuMTE5MTQxIDE0LjM0NDMgMC4xMTkxNDEgMTMuOTA1NEMwLjExOTE0MSAxMy43NjU5IDAuMTU1ODU4IDEzLjYyODkgMC4yMjU1OTkgMTMuNTA4MUw3Ljc5NTA2IDAuMzk3NDI5QzguMDE0NDQgMC4wMTczNzgzIDguNTAwNDEgLTAuMTEyODMgOC44ODA0NiAwLjEwNjU4N0M5LjAwMTI0IDAuMTc2MzI3IDkuMTAxNTkgMC4yNzY2MzYgOS4xNzEyOCAwLjM5NzQyOVpNNy42ODg1OCAxMC43MjcxVjEyLjMxNjJIOS4yNzc3NVYxMC43MjcxSDcuNjg4NThaTTcuNjg4NTggNS4xNjQ5NFY5LjEzNzlIOS4yNzc3NVY1LjE2NDk0SDcuNjg4NThaIiBmaWxsPSIjRTY4QzNGIi8+Cjwvc3ZnPgo=") center center no-repeat;
    }
  }
}

#wpsms-menu-toggle:checked ~ .wpsms-menu-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#wpsms-menu-toggle:checked ~ .hamburger-menu-container {
  background: #FFFFFF33;
  color: #fff;

  .menu-bar {
    background-color: #fff;
  }
}

#wpsms-menu-toggle:checked ~ .hamburger-menu-container .menu-bar:nth-child(2) {
  opacity: 0;
}

#wpsms-menu-toggle:checked ~ .hamburger-menu-container .menu-bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

#wpsms-menu-toggle:checked ~ .hamburger-menu-container .menu-bar:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}
