.wpsms-error-notice {
  background-color: #ffd5d5;
  padding: 7px 7px;
  display: inline-block;
  border: 1px solid #ffb7b7;
  border-radius: 2px;
  color: #e02222;
}

.wpsms-time {
  clear: both;
  color: #a4a2a2;
  display: block;
  font-size: 10px;
}

.wpsms-color-green {
  color: #27bb00;
}

.wpsms-color-red {
  color: #f10000;
}

.wpsms-button-group .dashicons {
  vertical-align: text-top;
}

#wpsms-select-subscriber-group {
  display: none;
}

#wpsms-custom-text {
  display: none;
}

#wpsms-custom-text textarea {
  font-size: 12px;
  width: 100%;
  height: 114px;
}

#wpsms-custom-text p.description.data, #wpsms-custom-text code {
  font-size: 11px !important;
}

.wpsms-plugin-meta-link span {
  font-size: 14px;
  vertical-align: sub;
}

.wpsms-plugin-meta-link.wp-sms-pro {
  color: green;
  font-weight: bold;
}

.wpsms-premium-tab {
  color: #F1F1F1;
  background: #21A8D2;
}

.wpsms-tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.wpsms-tooltip-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 13C12.5 11 14 11.5 14 10C14 9.34375 13.5 8.5 12.5 8.5C11.5 8.5 11 9 10.5 9.5M12.5 16V14.5M20.5 12.5C20.5 16.9183 16.9183 20.5 12.5 20.5C8.08172 20.5 4.5 16.9183 4.5 12.5C4.5 8.08172 8.08172 4.5 12.5 4.5C16.9183 4.5 20.5 8.08172 20.5 12.5Z' stroke='%233c434a' stroke-width='1.2'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  top: -2px;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow{
  bottom: -2px !important;
}