.c-readycard {

  border-radius: 4px;
  border: 1px solid $grey-color-3;
  padding: 12px 16px;
  box-sizing: border-box;
  position: relative;
  width: calc(100% - 11px);
  margin: 0 auto;
  @include mq(tablet) {
    width: calc(100% / 3 - 11px);
  }

  svg {
    margin-bottom: 16px;
    display: block;
  }

  .c-btn {
    display: flex;
    position: relative;
    color: $primary-orange;
    justify-content: flex-start;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.23px;
    padding: 0;
    margin: 0;

    &:after {
      content: "";
      width: 5.83px;
      display: block;
      height: 9.55px;
      background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCA2IDEwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMy44Nzg4NCA1LjAwMDUyTDAuMTY2NTA0IDEuMjg4MkwxLjIyNzE3IDAuMjI3NTM5TDYuMDAwMTQgNS4wMDA1MkwxLjIyNzE3IDkuNzczNDVMMC4xNjY1MDQgOC43MTI4TDMuODc4ODQgNS4wMDA1MloiIGZpbGw9IiNDMjQyMjUiLz4KPC9zdmc+Cg==) center center no-repeat;
    }
  }
}

.c-readycard__title {
  color: #242121;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  margin: 0 0 8px 0;
  display: inline-block;
  text-decoration: none;
}
a.c-readycard__title{
  &:after{
    content: "";
    width: 5.83px;
    display: inline-block;
    height: 9.55px;
    margin-left: 4px;
    filter: grayscale(1) contrast(2.5);
    background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCA2IDEwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMy44Nzg4NCA1LjAwMDUyTDAuMTY2NTA0IDEuMjg4MkwxLjIyNzE3IDAuMjI3NTM5TDYuMDAwMTQgNS4wMDA1MkwxLjIyNzE3IDkuNzczNDVMMC4xNjY1MDQgOC43MTI4TDMuODc4ODQgNS4wMDA1MloiIGZpbGw9IiNDMjQyMjUiLz4KPC9zdmc+Cg==) 50% no-repeat;
  }
  &:hover{
    color:$primary-orange;
    &:after{
      filter: none;
    }
  }
}

.c-readycard__desc {
  margin: 0 0 16px 0;
  min-height: 37px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  color: #5F5F5F;
}

.c-readycard__badge {
  background: #FFF8F6;
  color: $primary-orange;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.06px;
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE3IiBoZWlnaHQ9IjE3IiB2aWV3Qm94PSIwIDAgMTcgMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMi4wNDIyIDAuODU1ODM1TDEyLjk3NjMgMi42MDc0MkwxNC43Mjc5IDMuNTQxNkwxMi45NzYzIDQuNDc1NzhMMTIuMDQyMiA2LjIyNzM3TDExLjEwNzkgNC40NzU3OEw5LjM1NjM4IDMuNTQxNkwxMS4xMDc5IDIuNjA3NDJMMTIuMDQyMiAwLjg1NTgzNVpNNS42NjcxMyAzLjA2OTM4TDcuNTU2MDEgNi42MTEwNEwxMS4wOTc3IDguNDk5OTJMNy41NTYwMSAxMC4zODg4TDUuNjY3MTMgMTMuOTMwNUwzLjc3ODI0IDEwLjM4ODhMMC4yMzY1NzIgOC40OTk5MkwzLjc3ODI0IDYuNjExMDRMNS42NjcxMyAzLjA2OTM4Wk0xMy45MzEgMTEuNTY5NEwxMi43NTA1IDkuMzU1ODdMMTEuNTY5OSAxMS41Njk0TDkuMzU2MzggMTIuNzQ5OUwxMS41Njk5IDEzLjkzMDVMMTIuNzUwNSAxNi4xNDRMMTMuOTMxIDEzLjkzMDVMMTYuMTQ0NSAxMi43NDk5TDEzLjkzMSAxMS41Njk0WiIgZmlsbD0iI0MyNDIyNSIvPgo8L3N2Zz4K) center center / 100% no-repeat;
  }
  &:hover{
    background: #fdd8cf
  }
}

.c-readycard--integration {
  background-color: #FDFDFD;
}
