.c-table {
  border-radius: 4px;
  border: 1px solid $grey-color-3 !important;
  margin-bottom: 0 !important;

  &-gateway {
    tr:not(.disabled ) {
      cursor: pointer;
    }
  }

  thead {
    background: $grey-color-4;
    border: 0;
    position: relative;

    th {
      border: 0 !important;
      color: $black-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 400 !important;
      line-height: 24px; /* 200% */
      text-align: left;
      white-space: nowrap;

      &.u-text-center {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      &.disabled {
        td {
          background: $grey-color-4;
          color: $grey-color-1;

          .c-table-gateway__name a, .c-table-gateway__name span {
            color: $grey-color-1;

            svg path {
              stroke: $grey-color-1;
            }
          }

          .icon-lock {
            width: 16px;
            height: 16px;
            background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE2IiBoZWlnaHQ9IjE3IiB2aWV3Qm94PSIwIDAgMTYgMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04IDEuMTY2NjlDNS43OTA4NiAxLjE2NjY5IDQgMi45NTc1NSA0IDUuMTY2NjlWNS44MzMzNUgyLjY2NjY3QzIuMjk4NDggNS44MzMzNSAyIDYuMTMxODMgMiA2LjUwMDAyVjE0LjVDMiAxNC44NjgyIDIuMjk4NDggMTUuMTY2NyAyLjY2NjY3IDE1LjE2NjdIOC42OTZDOC40NjMxMyAxNC42NTkzIDguMzMzMzMgMTQuMDk0OCA4LjMzMzMzIDEzLjVDOC4zMzMzMyAxMS4yOTA5IDEwLjEyNDIgOS41MDAwMiAxMi4zMzMzIDkuNTAwMDJDMTIuOTI4MSA5LjUwMDAyIDEzLjQ5MjYgOS42Mjk4MiAxNCA5Ljg2MjY5VjYuNTAwMDJDMTQgNi4xMzE4MyAxMy43MDE1IDUuODMzMzUgMTMuMzMzMyA1LjgzMzM1SDEyVjUuMTY2NjlDMTIgMi45NTc1NSAxMC4yMDkxIDEuMTY2NjkgOCAxLjE2NjY5Wk0xMC42NjY3IDUuODMzMzVINS4zMzMzM1Y1LjE2NjY5QzUuMzMzMzMgMy42OTM5MyA2LjUyNzI0IDIuNTAwMDIgOCAyLjUwMDAyQzkuNDcyNzMgMi41MDAwMiAxMC42NjY3IDMuNjkzOTMgMTAuNjY2NyA1LjE2NjY5VjUuODMzMzVaTTE0LjA5NjcgMTUuOTI3MUwxMy43NTk5IDEzLjk2MzZMMTUuMTg2NSAxMi41NzNMMTMuMjE1IDEyLjI4NjVMMTIuMzMzMyAxMC41TDExLjQ1MTcgMTIuMjg2NUw5LjQ4MDEzIDEyLjU3M0wxMC45MDY3IDEzLjk2MzZMMTAuNTcgMTUuOTI3MUwxMi4zMzMzIDE1TDE0LjA5NjcgMTUuOTI3MVoiIGZpbGw9IiNDMjQyMjUiLz4KPC9zdmc+Cg==") center center/100% no-repeat;
            display: inline-flex;
          }
        }
      }

      &.selected-row {
        td {
          background: #C2410C14;
        }
      }

      &.c-table-gateway__row--with-badge{
        td {
          background: #05886005;
        }
      }
    }
  }

  td {
    line-height: 16.41px;
    font-size: 14px;
    font-weight: 400;
    color: $black-color;
    white-space: nowrap;

    input[type=radio] {
      border: 1px solid #5B5B5B;

      &:checked {
        border: 1px solid #C2410C;

        &::before {
          background-color: $primary-orange;
        }
      }
    }

    .c-table-gateway__name {
      span {
        color: $black-color;
        text-decoration: none;
        display: inline-flex;
        gap: 4px;
        align-items: center;
        line-height: 100%;

        a:focus {
          box-shadow: none;
        }

        svg {
          width: 12px;
          min-width: 12px;
          height: 12px;
          display: inline-flex;

          .rtl & {
            transform: rotateY(180deg);
          }
        }

        &:focus, &:active {
          box-shadow: none;
          outline: none;
        }
      }
    }


    .c-table-gateway__badge {
      color: #058860;
      background: #05886014;
      border: 0.5px solid #058860;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      text-transform: capitalize;
      padding: 2px 4px 3px;
      border-radius: 4px;
      box-sizing: border-box;
      height: 17px;
    }

    span.checked {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNy43NSIgY3k9IjcuNSIgcj0iNy41IiBmaWxsPSIjNzM3MzczIi8+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xNzMyMF8zMDExNCkiPgo8cGF0aCBkPSJNNi42NjY4NyA5LjIxNzQ5TDExLjY0NjEgNC4yMzgyOEwxMi40MTIxIDUuMDA0MzFMNi42NjY4NyAxMC43NDk1TDMuMjE5NzMgNy4zMDI0MkwzLjk4NTc2IDYuNTM2NEw2LjY2Njg3IDkuMjE3NDlaIiBmaWxsPSJ3aGl0ZSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzE3MzIwXzMwMTE0Ij4KPHJlY3Qgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiBmaWxsPSJ3aGl0ZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4yNSAxKSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=") center center/100% no-repeat;
      width: 15px;
      height: 15px;
      display: inline-block;
    }

    span.unchecked {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iOC4yNSIgY3k9IjcuNSIgcj0iNy41IiBmaWxsPSIjRDRENEQ0Ii8+CjxwYXRoIGQ9Ik04LjI0OTg4IDYuNzMzODdMMTAuOTMxIDQuMDUyNzNMMTEuNjk3IDQuODE4NzZMOS4wMTU5IDcuNDk5ODlMMTEuNjk3IDEwLjE4MUwxMC45MzEgMTAuOTQ3TDguMjQ5ODggOC4yNjU5Mkw1LjU2ODc3IDEwLjk0N0w0LjgwMjczIDEwLjE4MUw3LjQ4Mzg1IDcuNDk5ODlMNC44MDI3MyA0LjgxODc2TDUuNTY4NzcgNC4wNTI3M0w4LjI0OTg4IDYuNzMzODdaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K") center center/100% no-repeat;
      width: 15px;
      height: 15px;
      display: inline-block;
    }

    .c-table-gateway__info {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &:first-child {
      input[type='radio'] {
        float: left;
        margin: 0;
        accent-color: $primary-orange;
        box-shadow: none !important;
        width: 12px;
        height: 12px;
        min-width: 12px;

        &:checked::before {
          width: 6px;
          height: 6px;
          margin: 0.15rem;
          line-height: unset;
        }

        .rtl & {
          float: right;
        }
      }

      label {
        cursor: pointer;
      }
    }
  }

  th {
    span[data-tooltip] {
      width: 15px;
      height: 15px;
      display: inline-flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &.dataTable {
    border: none !important;

    thead {
      th {
        color: $grey-color-1;
        font-size: 13px;
        font-weight: 500 !important;
        line-height: 15.23px;
        padding: 12px 18px;
        border-bottom: 1px solid $grey-color-5 !important;
        text-align: center;

        .dt-column-title {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 2px;
        }
      }
    }
  }
}

.c-table__wrapper {
  border-radius: 4px;
  border: 1px solid $grey-color-5 !important;
  margin-bottom: 1.5rem;
  overflow: auto;
  box-sizing: border-box;

  .u-content-sp {
    gap: 10px;
  }

  .dataTables_length, .dataTables_filter {
    display: none;
  }

  .paginate_button:active {
    box-shadow: none !important;
  }

  span .paginate_button {
    border-radius: 0 !important;
  }
}

.dt-paging-button.previous {
  .rtl & {
    border-radius: 0 4px 4px 0 !important;
  }

  svg {
    .rtl & {
      transform: rotate(180deg);
    }
  }

  .rtl & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.dt-paging-button.next {
  .rtl & {
    border-radius: 4px 0 0 4px !important;
  }

  svg {
    .rtl & {
      transform: rotate(180deg);
    }
  }

  .rtl & {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

#DataTables_Table_0_wrapper {
  overflow: auto;

  .dt-paging > button, .dt-paging-button {
    margin: 0 !important;
    cursor: pointer;

    &.disabled {
      cursor: default;
    }
  }

  .dt-paging {
    float: none;
    text-align: center;
    padding: 12px 16px;
  }

  .dt-layout-row .dt-paging {
    .dt-paging-button {
      &.next, &.previous {
        margin: 0;
      }

      &.next {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.previous {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    .ellipsis {
      padding: 6px 9px 7px 9px;
    }

    .dt-paging-button, .dt-paging-button {
      border: 1px solid $grey-color-5;
      padding: 6px 9px 7px 9px;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: transparent !important;
      color: $grey-color-1 !important;
      border-radius: 0;
      width: 39px;
      height: 35px;

      &.prev-icon {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.next-icon {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

    }
  }

  .dt-layout-row .dt-paging span .dt-paging-button:hover {
    border: 1px solid var(--Border, #e7e7e7);
  }

  .dt-layout-row .dt-paging .dt-paging-button.current {
    color: $grey-color-1 !important;
    background: $grey-color-4 !important;
    border: 1px solid $grey-color-1 !important;
  }
}

.c-table__availability {
  background-color: $grey-color-4;
  color: $black-color;
  font-style: normal;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 600;
  line-height: 14.06px;
  gap: 4px;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;

  &--success {
    color: #058860;
    background-color: #05886014;

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      display: inline-flex;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNDk5OTQgOS40ODE1N0wxMi4yNDUyIDMuNzM2MzNMMTMuMTI5MSA0LjYyMDIxTDYuNDk5OTQgMTEuMjQ5M0wyLjUyMjQ2IDcuMjcxODhMMy40MDYzNSA2LjM4OEw2LjQ5OTk0IDkuNDgxNTdaIiBmaWxsPSIjMDU4ODYwIi8+Cjwvc3ZnPgo=") center center/100% no-repeat;
    }
  }

  &--pro {
    color: $primary-orange;
    background-color: #C2410C14;
    text-decoration: none;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      display: inline-flex;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguMjUwMzMgMTAuMzUxN0w5Ljk5NzgzIDExLjY3NDdDMTAuMTE4MyAxMS43NTkzIDEwLjIzOTggMTEuNzYyMSAxMC4zNjI1IDExLjY4M0MxMC40ODUyIDExLjYwNCAxMC41MjMgMTEuNDkzMSAxMC40NzYgMTEuMzUwM0w5LjgxNDQ5IDkuMTYxODNMMTEuNTIxMyA3Ljk0Nzk5QzExLjY0NjcgNy44NTQ2NiAxMS42ODQ3IDcuNzM4MzMgMTEuNjM1NSA3LjU5ODk5QzExLjU4NjQgNy40NTk3NyAxMS40ODg1IDcuMzkwMTYgMTEuMzQyIDcuMzkwMTZIOS4yNTI4M0w4LjU0MTMzIDUuMDkxMzNDOC40OTAzMyA0Ljk0ODY2IDguMzkzMzggNC44NzczMyA4LjI1MDQ5IDQuODc3MzNDOC4xMDc2IDQuODc3MzMgOC4wMTA1NSA0Ljk0ODY2IDcuOTU5MzMgNS4wOTEzM0w3LjI0NzgzIDcuMzkwMTZINS4xNTg2NkM1LjAxMjEgNy4zOTAxNiA0LjkxNDI3IDcuNDU5NzcgNC44NjUxNiA3LjU5ODk5QzQuODE1OTQgNy43MzgzMyA0Ljg1Mzk5IDcuODU0NjYgNC45NzkzMyA3Ljk0Nzk5TDYuNjg2MTYgOS4xNjE4M0w2LjAyNDY2IDExLjM1MDNDNS45Nzc2NiAxMS40OTMxIDYuMDE1NDkgMTEuNjA0IDYuMTM4MTYgMTEuNjgzQzYuMjYwODMgMTEuNzYyMSA2LjM4MjM4IDExLjc1OTMgNi41MDI4MyAxMS42NzQ3TDguMjUwMzMgMTAuMzUxN1pNOC4yNTE0OSAxNC44MzM3QzcuMzc1NDkgMTQuODMzNyA2LjU1MjEgMTQuNjY3NCA1Ljc4MTMzIDE0LjMzNUM1LjAxMDU1IDE0LjAwMjUgNC4zNDAxIDEzLjU1MTQgMy43Njk5OSAxMi45ODE1QzMuMTk5ODggMTIuNDExNiAyLjc0ODQ5IDExLjc0MTQgMi40MTU4MyAxMC45NzFDMi4wODMyNyAxMC4yMDA1IDEuOTE2OTkgOS4zNzczOCAxLjkxNjk5IDguNTAxNDlDMS45MTY5OSA3LjYyNTQ5IDIuMDgzMjEgNi44MDIxIDIuNDE1NjYgNi4wMzEzM0MyLjc0ODEgNS4yNjA1NSAzLjE5OTI3IDQuNTkwMSAzLjc2OTE2IDQuMDE5OTlDNC4zMzkwNSAzLjQ0OTg4IDUuMDA5MjEgMi45OTg0OSA1Ljc3OTY2IDIuNjY1ODNDNi41NTAxIDIuMzMzMjcgNy4zNzMyNyAyLjE2Njk5IDguMjQ5MTYgMi4xNjY5OUM5LjEyNTE2IDIuMTY2OTkgOS45NDg1NSAyLjMzMzIxIDEwLjcxOTMgMi42NjU2NkMxMS40OTAxIDIuOTk4MSAxMi4xNjA1IDMuNDQ5MjcgMTIuNzMwNyA0LjAxOTE2QzEzLjMwMDggNC41ODkwNSAxMy43NTIyIDUuMjU5MjEgMTQuMDg0OCA2LjAyOTY2QzE0LjQxNzQgNi44MDAxIDE0LjU4MzcgNy42MjMyNyAxNC41ODM3IDguNDk5MTZDMTQuNTgzNyA5LjM3NTE2IDE0LjQxNzQgMTAuMTk4NSAxNC4wODUgMTAuOTY5M0MxMy43NTI1IDExLjc0MDEgMTMuMzAxNCAxMi40MTA1IDEyLjczMTUgMTIuOTgwN0MxMi4xNjE2IDEzLjU1MDggMTEuNDkxNCAxNC4wMDIyIDEwLjcyMSAxNC4zMzQ4QzkuOTUwNTUgMTQuNjY3NCA5LjEyNzM4IDE0LjgzMzcgOC4yNTE0OSAxNC44MzM3WiIgZmlsbD0iI0MyNDEwQyIvPgo8L3N2Zz4K") center center/100% no-repeat;
    }

    &:focus {
      color: $primary-orange;
      box-shadow: none;
      outline: none;
    }

    &:hover {
      background: #FDD8CF;
      color: $primary-orange;
    }
  }
}

.c-btn-table {
  font-size: 12px;
  width: 80px;
  padding: 4px;
  box-sizing: border-box;
  display: inline-block;
}

table.dataTable tbody td {
  padding: 11px 18px;
  border-bottom: 1px solid #F7F7F7;

  &:last-child {
    text-align: center;
  }
}

table.dataTable tbody tr:last-child td {
  border-bottom: 1px solid #E7E7E7;

}

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;

  .text-ellipsis {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
}

table.dataTable {
  .sorting_desc, .sorting_asc, .sorting {
    background-image: none !important;
  }
}

.c-table__sort-arrow {
  background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEwIiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCAxMCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC40Nzg1MiA1LjE0NjQ4TDEuMjI4NTIgMS44OTY0OEMxIDEuNjY3OTcgMC45MjM4MjggMS4zMTI1IDEuMDUwNzggMS4wMDc4MUMxLjE3NzczIDAuNzAzMTI1IDEuNDgyNDIgMC41IDEuODEyNSAwLjVIOC4zMTI1QzguNjQyNTggMC41IDguOTIxODggMC43MDMxMjUgOS4wNDg4MyAxLjAwNzgxQzkuMTc1NzggMS4zMTI1IDkuMDk5NjEgMS42Njc5NyA4Ljg3MTA5IDEuODk2NDhMNS42MjEwOSA1LjE0NjQ4QzUuMzE2NDEgNS40NzY1NiA0Ljc4MzIgNS40NzY1NiA0LjQ3ODUyIDUuMTQ2NDhaIiBmaWxsPSIjNUI1QjVCIi8+Cjwvc3ZnPgo=") center center/contain no-repeat;
  width: 9px;
  height: 13px;
  display: none;
}

.sorting_asc .c-table__sort-arrow, .sorting_desc .c-table__sort-arrow {
  display: inline-block;
}

.sorting_asc .c-table__sort-arrow {
  transform: rotate(180deg);
}

.dt-paging > span {
  margin-left: 2px;
}

.dt-empty {
  text-align: center;
}

.c-table-gateway {
  .wpsms-tooltip {
    width: 10.83px;
    height: 10.83px;

    .wps-tooltip-icon {
      width: 10.83px;
      height: 10.83px;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNDk4NyAxLjA5MThDMy41MDcwNyAxLjA5MTggMS4wODIwMyAzLjUxNjg0IDEuMDgyMDMgNi41MDg0NkMxLjA4MjAzIDkuNTAwMDkgMy41MDcwNyAxMS45MjUxIDYuNDk4NyAxMS45MjUxQzkuNDkwMzIgMTEuOTI1MSAxMS45MTU0IDkuNTAwMDkgMTEuOTE1NCA2LjUwODQ2QzExLjkxNTQgMy41MTY4NCA5LjQ5MDMyIDEuMDkxOCA2LjQ5ODcgMS4wOTE4Wk02LjQ5ODcgMi4xNzUxM0M3LjY0Nzk3IDIuMTc1MTMgOC43NTAxNyAyLjYzMTY4IDkuNTYyODMgMy40NDQzM0MxMC4zNzU1IDQuMjU2OTkgMTAuODMyIDUuMzU5MTkgMTAuODMyIDYuNTA4NDZDMTAuODMyIDcuNjU3NzMgMTAuMzc1NSA4Ljc1OTkzIDkuNTYyODMgOS41NzI1OUM4Ljc1MDE3IDEwLjM4NTMgNy42NDc5NyAxMC44NDE4IDYuNDk4NyAxMC44NDE4QzUuMzQ5NDMgMTAuODQxOCA0LjI0NzIzIDEwLjM4NTMgMy40MzQ1NyA5LjU3MjU5QzIuNjIxOTEgOC43NTk5MyAyLjE2NTM2IDcuNjU3NzMgMi4xNjUzNiA2LjUwODQ2QzIuMTY1MzYgNS4zNTkxOSAyLjYyMTkxIDQuMjU2OTkgMy40MzQ1NyAzLjQ0NDMzQzQuMjQ3MjMgMi42MzE2OCA1LjM0OTQzIDIuMTc1MTMgNi40OTg3IDIuMTc1MTNaTTYuNDk4NyAzLjgwMDEzQzYuMzU1MDQgMy44MDAxMyA2LjIxNzI2IDMuODU3MiA2LjExNTY4IDMuOTU4NzhDNi4wMTQxIDQuMDYwMzYgNS45NTcwMyA0LjE5ODE0IDUuOTU3MDMgNC4zNDE4QzUuOTU3MDMgNC40ODU0NiA2LjAxNDEgNC42MjMyMyA2LjExNTY4IDQuNzI0ODFDNi4yMTcyNiA0LjgyNjM5IDYuMzU1MDQgNC44ODM0NiA2LjQ5ODcgNC44ODM0NkM2LjY0MjM2IDQuODgzNDYgNi43ODAxMyA0LjgyNjM5IDYuODgxNzEgNC43MjQ4MUM2Ljk4MzMgNC42MjMyMyA3LjA0MDM2IDQuNDg1NDYgNy4wNDAzNiA0LjM0MThDNy4wNDAzNiA0LjE5ODE0IDYuOTgzMyA0LjA2MDM2IDYuODgxNzEgMy45NTg3OEM2Ljc4MDEzIDMuODU3MiA2LjY0MjM2IDMuODAwMTMgNi40OTg3IDMuODAwMTNaTTUuOTU3MDMgNS40MjUxM0M1LjgxMzM3IDUuNDI1MTMgNS42NzU2IDUuNDgyMiA1LjU3NDAxIDUuNTgzNzhDNS40NzI0MyA1LjY4NTM2IDUuNDE1MzYgNS44MjMxNCA1LjQxNTM2IDUuOTY2OEM1LjQxNTM2IDYuMjI3ODggNS42MDk4MiA2LjQyMjg4IDUuODU1MiA2LjQ3NDg4TDUuNTMzOTkgOC4wMzE2M0M1LjQwODMyIDguNjYwNSA1Ljg1NzkxIDkuMjE2OCA2LjQ5ODE2IDkuMjE2OEg3LjAzOTgyQzcuMTgzNDggOS4yMTY4IDcuMzIxMjYgOS4xNTk3MyA3LjQyMjg0IDkuMDU4MTVDNy41MjQ0MiA4Ljk1NjU2IDcuNTgxNDkgOC44MTg3OSA3LjU4MTQ5IDguNjc1MTNDNy41ODE0OSA4LjUzMTQ3IDcuNTI0NDIgOC4zOTM3IDcuNDIyODQgOC4yOTIxMUM3LjMyMTI2IDguMTkwNTMgNy4xODM0OCA4LjEzMzQ2IDcuMDM5ODIgOC4xMzM0Nkg2LjYxNzMyTDcuMDIzNTcgNi4wNjg2M0M3LjAzOTg5IDUuOTkwNjcgNy4wMzg1NyA1LjkxMDA1IDcuMDE5NyA1LjgzMjY3QzcuMDAwODMgNS43NTUzIDYuOTY0ODkgNS42ODMxMiA2LjkxNDUyIDUuNjIxNDJDNi44NjQxNCA1LjU1OTczIDYuODAwNjEgNS41MTAwOCA2LjcyODU3IDUuNDc2MTJDNi42NTY1MyA1LjQ0MjE1IDYuNTc3OCA1LjQyNDczIDYuNDk4MTYgNS40MjUxM0g1Ljk1NzAzWiIgZmlsbD0iIzU2NTg1QSIvPgo8L3N2Zz4K") center center no-repeat;
    }
  }

  .dt-column-order {
    width: 9px;
    height: 13px;
    display: inline-block;
  }

  .dt-ordering-asc {
    .dt-column-order {
      background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEwIiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCAxMCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC40Nzg1MiA1LjE0NjQ4TDEuMjI4NTIgMS44OTY0OEMxIDEuNjY3OTcgMC45MjM4MjggMS4zMTI1IDEuMDUwNzggMS4wMDc4MUMxLjE3NzczIDAuNzAzMTI1IDEuNDgyNDIgMC41IDEuODEyNSAwLjVIOC4zMTI1QzguNjQyNTggMC41IDguOTIxODggMC43MDMxMjUgOS4wNDg4MyAxLjAwNzgxQzkuMTc1NzggMS4zMTI1IDkuMDk5NjEgMS42Njc5NyA4Ljg3MTA5IDEuODk2NDhMNS42MjEwOSA1LjE0NjQ4QzUuMzE2NDEgNS40NzY1NiA0Ljc4MzIgNS40NzY1NiA0LjQ3ODUyIDUuMTQ2NDhaIiBmaWxsPSIjNUI1QjVCIi8+Cjwvc3ZnPgo=) 50% / contain no-repeat;
      margin-bottom: -3px;
    }
  }

  .dt-ordering-desc {
    .dt-column-order {
      background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEwIiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCAxMCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC40Nzg1MiA1LjE0NjQ4TDEuMjI4NTIgMS44OTY0OEMxIDEuNjY3OTcgMC45MjM4MjggMS4zMTI1IDEuMDUwNzggMS4wMDc4MUMxLjE3NzczIDAuNzAzMTI1IDEuNDgyNDIgMC41IDEuODEyNSAwLjVIOC4zMTI1QzguNjQyNTggMC41IDguOTIxODggMC43MDMxMjUgOS4wNDg4MyAxLjAwNzgxQzkuMTc1NzggMS4zMTI1IDkuMDk5NjEgMS42Njc5NyA4Ljg3MTA5IDEuODk2NDhMNS42MjEwOSA1LjE0NjQ4QzUuMzE2NDEgNS40NzY1NiA0Ljc4MzIgNS40NzY1NiA0LjQ3ODUyIDUuMTQ2NDhaIiBmaWxsPSIjNUI1QjVCIi8+Cjwvc3ZnPgo=) 50% / contain no-repeat;
      margin-bottom: -3px;
      transform: rotate(180deg);
    }
  }

}