/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/barlow-v5-latin-regular.woff') format('woff') /* Modern Browsers */
}
