/* Abstracts
---------------------------------------------*/
:root {
    --white: #ffffff;
    --bobbles-title: #000000;
    --chatbox-content: #F9FAFB;
    --content-border: #E5E7EB;
    --header-color: #fff;
    --header-bg: #5B5B5B;
    --chatbox-row: #fff;
    --chatbox-row-hover: #F3F4F6;
    --chatbox-content-color: #5C5C5C;
    --font-family: 'Roboto', sans-serif;
    --font-size: 1rem;
}

.dark-theme,
.wpsms-chatbox--dark-theme {
    --bobbles-title: #ECE5DD;
    --chatbox-content: #0F0F0F;
    --content-border: #272727;
    --header-color: #ECE5DD;
    --header-bg: #2C2C2C;
    --chatbox-row: #121212;
    --chatbox-row-hover: #1A1A1A;
    --chatbox-content-color: #E0E0E0;
}

[dir="rtl"],
.wpsms-chatbox--rtl {
    --font-family: tahoma, arial, sans-serif;
    --font-size: 0.87rem;
}

/* Components
  --------------------------------------------- */
.wpsms-chatbox__button {
    color: var(--white);
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.wpsms-chatbox__button-icon {
    width: 20px;
    height: 20px;
}

.wpsms-chatbox__button-bobbles-title {
    color: var(--bobbles-title);
}

.wpsms-chatbox__button-arrow {
    display: none;
}

.wpsms-chatbox__button-title {
    margin: 0 .3rem;
}

.wpsms-chatbox__button--has-arrow {
    padding-right: 35px !important;
}

.wpsms-chatbox__button--has-arrow .wpsms-chatbox__button-arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.wpsms-chatbox__button--rounded {
    border-radius: 50px;
    padding: 14px 20px;
}

.wpsms-chatbox__button--circle {
    border-radius: 50%;
    padding: 8px;
    width: 48px;
    height: 48px;
}

.chatbox-open .wpsms-chatbox__button-arrow {
    transform: translateY(-50%);
}

.wpsms-chatbox__content {
    width: 382px;
    max-width: 80%;
    position: fixed;
    bottom: 5rem;
    background: var(--chatbox-content);
    border-radius: 8px;
    overflow-x: hidden;
    max-height: 90vh;
    overflow-y: auto;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 1px solid var(--content-border);
}

.wpsms-chatbox__content.open {
    display: block;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.wpsms-chatbox__content.opening {
    animation: fadeIn 0.5s ease;
}

.wpsms-chatbox__content.closing {
    animation: fadeOut 0.5s ease;
}

.wpsms-chatbox__arrow {
    background: transparent;
    display: inline-block;
    position: fixed;
    bottom: 61px;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid var(--content-border);
    border-right: 10px solid transparent;
}

.wpsms-chatbox__arrow i {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -9px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-top: 9px solid var(--chatbox-content);
    border-right: 9px solid transparent;
}

.wpsms-chatbox__container {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.wpsms-chatbox__header {
    display: flex;
    color: var(--header-color);
    justify-content: space-between;
    padding: 20px;
}

.wpsms-chatbox__header h2 {
    margin: 0;
    font-size: 1rem;
}

.wpsms-chatbox__header .wpsms-chatbox__close-button {
    background: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
}

.dark-theme .wpsms-chatbox__header,
.wpsms-chatbox--dark-theme .wpsms-chatbox__header {
    background: var(--header-bg) !important;
}

.wpsms-chatbox__teams {
    border: 1px solid var(--content-border);
    background: var(--chatbox-row);
    border-radius: 8px;
    overflow: hidden;
}

.wpsms-chatbox__teams .wpsms-chatbox__team {
    padding: 15px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--content-border);
    color: var(--chatbox-content-color);
    text-decoration: none;
}

.wpsms-chatbox__teams .wpsms-chatbox__team:hover {
    cursor: pointer;
    background: var(--chatbox-row-hover);
}

.wpsms-chatbox__teams .wpsms-chatbox__team:first-child {
    border-top: 0 !important;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-list .wpsms-chatbox__team-item {
    font-size: 14px;
    line-height: 16.41px;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-list .wpsms-chatbox__team-item.wpsms-chatbox__team-name {
    line-height: 18.75px;
    font-size: 16px;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-list .wpsms-chatbox__team-item.wpsms-chatbox__team-status {
    display: flex;
    align-items: center;
    gap: 3px;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-list .wpsms-chatbox__team-item.wpsms-chatbox__team-status span {
    width: 12px;
    height: 12px;
    border: 2px solid #F2F2F2;
    background: #94A3B8;
    display: inline-block;
    border-radius: 50%;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-list .wpsms-chatbox__team-item.wpsms-chatbox__team-status span.online {
    border: 2px solid #D1FAF5;
    background: #14B8A6;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-avatar {
    position: relative;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-avatar .wpsms-chatbox__team-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.wpsms-chatbox__teams .wpsms-chatbox__team-avatar .wpsms-chatbox__team-avatar-img {
    border-radius: 50%;
}

.wpsms-chatbox__articles {
    border: 1px solid var(--content-border);
    background: var(--chatbox-row);
    border-radius: 8px;
    overflow: hidden;
}

.wpsms-chatbox__articles ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 3px;
    flex-direction: column;
}

.wpsms-chatbox__articles ul li {
    border-top: 1px solid var(--content-border);
    color: var(--chatbox-content-color);
}

.wpsms-chatbox__articles ul li a {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--chatbox-content-color);
}

.wpsms-chatbox__articles ul li.wpsms-chatbox__articles-header {
    padding: 12px;
}

.wpsms-chatbox__articles ul li:first-child {
    border-top: 0 !important;
}

.wpsms-chatbox__info {
    border-top: 1px solid var(--content-border);
    color: var(--chatbox-content-color);
}

.wpsms-chatbox__info div {
    padding: 16px;
    font-size: 12px;
}

.wpsms-chatbox__info div a {
    color: #4F7EF6;
}

.wpsms-chatbox__info div a:hover {
    color: #3c66ce;
}

[dir="rtl"] .wpsms-chatbox {
    direction: rtl;
    right: 1rem;
}

[dir="rtl"] .wpsms-chatbox .wpsms-chatbox__article span {
    transform: rotate(180deg);
}

[dir="rtl"] .wpsms-chatbox .wpsms-chatbox__content {
    right: 0.5rem;
}

[dir="rtl"] .wpsms-chatbox .wpsms-chatbox__arrow {
    right: 2rem;
}

[dir="ltr"] .wpsms-chatbox {
    direction: ltr;
    left: 1rem;
}

[dir="ltr"] .wpsms-chatbox .wpsms-chatbox__content {
    left: 0.5rem;
}

[dir="ltr"] .wpsms-chatbox .wpsms-chatbox__arrow {
    left: 2rem;
}

.wpsms-chatbox {
    position: fixed;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.wpsms-chatbox.wpsms-chatbox--ltr {
    direction: ltr;
    left: 1rem;
}

.wpsms-chatbox.wpsms-chatbox--ltr .wpsms-chatbox__content {
    left: 0.5rem;
}

.wpsms-chatbox.wpsms-chatbox--ltr .wpsms-chatbox__arrow {
    left: 2rem;
}

.wpsms-chatbox.wpsms-chatbox--rtl {
    direction: rtl;
    right: 1rem;
}

.wpsms-chatbox.wpsms-chatbox--rtl .wpsms-chatbox__article span {
    transform: rotate(180deg);
}

.wpsms-chatbox.wpsms-chatbox--rtl .wpsms-chatbox__content {
    right: 0.5rem;
}

.wpsms-chatbox.wpsms-chatbox--rtl .wpsms-chatbox__arrow {
    right: 2rem;
}

.wpsms-chatbox.wpsms-chatbox--orange-theme .wpsms-chatbox__button {
    background: #F88E40;
}

.wpsms-chatbox.wpsms-chatbox--orange-theme .wpsms-chatbox__button:hover {
    background: #E07526;
}

.wpsms-chatbox.wpsms-chatbox--orange-theme .wpsms-chatbox__header,
.wpsms-chatbox.wpsms-chatbox--orange-theme .wpsms-chatbox__team-icon {
    background: #F88E40;
}

.wpsms-chatbox.wpsms-chatbox--green-theme .wpsms-chatbox__button {
    background: #25D366;
}

.wpsms-chatbox.wpsms-chatbox--green-theme .wpsms-chatbox__button:hover {
    background: #1DA056;
}

.wpsms-chatbox.wpsms-chatbox--green-theme .wpsms-chatbox__header,
.wpsms-chatbox.wpsms-chatbox--green-theme .wpsms-chatbox__team-icon {
    background: #25D366;
}

.wpsms-chatbox.wpsms-chatbox--blue-theme .wpsms-chatbox__button {
    background: #0088CC;
}

.wpsms-chatbox.wpsms-chatbox--blue-theme .wpsms-chatbox__button:hover {
    background: #0077B3;
}

.wpsms-chatbox.wpsms-chatbox--blue-theme .wpsms-chatbox__header,
.wpsms-chatbox.wpsms-chatbox--blue-theme .wpsms-chatbox__team-icon {
    background: #0088CC;
}

.wpsms-chatbox.wpsms-chatbox--gray-theme .wpsms-chatbox__button {
    background: #5B5B5B;
}

.wpsms-chatbox.wpsms-chatbox--gray-theme .wpsms-chatbox__button:hover {
    background: #8F8F8F;
}

.wpsms-chatbox.wpsms-chatbox--gray-theme .wpsms-chatbox__header,
.wpsms-chatbox.wpsms-chatbox--gray-theme .wpsms-chatbox__team-icon {
    background: #5B5B5B;
}

.wpsms-chatbox.wpsms-chatbox--blue-theme-gradient .wpsms-chatbox__button {
    background: linear-gradient(to bottom, #00B2FF, #006AFF);
}

.wpsms-chatbox.wpsms-chatbox--blue-theme-gradient .wpsms-chatbox__button:hover {
    background: #008ECC;
}

.wpsms-chatbox.wpsms-chatbox--blue-theme-gradient .wpsms-chatbox__header,
.wpsms-chatbox.wpsms-chatbox--blue-theme-gradient .wpsms-chatbox__team-icon {
    background: linear-gradient(to bottom, #00B2FF, #006AFF);
}

/* Utilities
  --------------------------------------------- */
.u-flex {
    display: flex;
}

.u-flex--column {
    flex-direction: column;
}

.u-flex--center,
.wpsms-chatbox__button {
    align-content: center;
    justify-content: center;
}

.u-bold,
.wpsms-chatbox__button,
.wpsms-chatbox__button-bobbles-title,
.wpsms-chatbox__teams .wpsms-chatbox__team-list .wpsms-chatbox__team-item.wpsms-chatbox__team-name,
.wpsms-chatbox__articles ul li.wpsms-chatbox__articles-header {
    font-weight: 700;
}

.u-normal,
.wpsms-chatbox__teams .wpsms-chatbox__team-list .wpsms-chatbox__team-item,
.wpsms-chatbox__info div {
    font-weight: 400;
}

.u-custom-scrollbar::-webkit-scrollbar,
.wpsms-chatbox__content::-webkit-scrollbar {
    width: 6px !important;
}

.u-custom-scrollbar::-webkit-scrollbar-track,
.wpsms-chatbox__content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #D1D5DB;
}

.u-custom-scrollbar::-webkit-scrollbar-thumb,
.wpsms-chatbox__content::-webkit-scrollbar-thumb {
    background: #a4a7ad;
    border-radius: 10px;
}