.wpsms-inbox-page {
    position: relative;
}

.wpsms-inbox-page img {
    width: 100%;
}

.promotion-modal {
    width: 40%;
    padding: 50px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    line-height: 1.4em;
    background-color: white;
    border: 5px orange solid;
}