/* Error: Expected whitespace.
 *     ,
 * 343 |   @media screen and(max-width: 450px) {
 *     |                    ^
 *     '
 *   assets\src\scss\mail.scss 343:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a     \2577 \a 343 \2502    @media screen and(max-width: 450px) {\d\a     \2502                     ^\a     \2575 \a   assets\\src\\scss\\mail.scss 343:20  root stylesheet";
}
