/** Welcome page **/
.wp-sms-welcome .normal-section .left {
    float: right;
    text-align: right;
}

.wp-sms-welcome .normal-section h2 {
    text-align: right;
}

.wp-sms-welcome .normal-section .right {
    float: left;
}

.wp-sms-welcome .widefat td:first-child {
    text-align: right;
}