.wpsms-tw-column .status-enabled {
  color: #fdfffd;
  background-color: green;
  border-radius: 14px;
  padding: 2px 7px;
  cursor: default;
}

.wpsms-tw-column .status-disabled {
  color: #fdfffd;
  background-color: #d63638;
  border-radius: 14px;
  padding: 2px 7px;
  cursor: default;
}

.wpsms-tw-column .column-command-status {
  width: 90px;
}

.wpsms-tw-metabox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wpsms-tw-metabox * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wpsms-tw-metabox table {
  width: 100%;
  border-collapse: collapse;
}

.wpsms-tw-metabox table .row-info {
  width: 30%;
  min-width: 200px;
  padding: 0 12px;
  border-right: 1px solid gray;
  text-align: left;
}

.wpsms-tw-metabox table .row-info .title {
  font-size: 1.2em;
}

.wpsms-tw-metabox table .row-info .description {
  margin-top: 7px;
  font-weight: normal;
}

.wpsms-tw-metabox table .row-content {
  padding-left: 10px;
}

@media (max-width: 570px) {
  .wpsms-tw-metabox table .row-info {
    display: block;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid gray;
    padding: 20px;
  }
  .wpsms-tw-metabox table .row-content {
    display: block;
    width: 100%;
    padding: 10px 20px;
  }
}

.wpsms-tw-metabox.response-metabox .response-row .row-content {
  padding-bottom: 15px;
}

.wpsms-tw-metabox.response-metabox .response-row .row-content label {
  display: inline;
  padding-bottom: 3px;
}

.wpsms-tw-metabox.response-metabox .response-row .row-content textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
}

.wpsms-tw-metabox.actions-metabox .field {
  padding-top: 7px;
  display: inline-block;
  margin-right: 10px;
}

.wpsms-tw-metabox.actions-metabox .field label {
  display: block;
}

.wpsms-tw-metabox.actions-metabox #wpsms-tw-command-name {
  width: 200px;
}

.wpsms-tw-metabox.actions-metabox #wpsms-tw-command-action-select {
  width: 200px;
}

.wpsms-tw-metabox.preview-metabox div.sms-preview-container {
  margin-top: 20px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js {
  display: block;
  background-color: rgba(249, 251, 255, 0.4);
  background: -webkit-gradient(linear, right top, left bottom, color-stop(40%, #79C7C5), to(#F9FBFF));
  background: linear-gradient(to bottom left, #79C7C5 40%, #F9FBFF 100%);
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
          box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .focus {
  background: #F9FBFF;
  margin-left: 1px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .chatbox {
  position: relative;
  height: 100%;
  width: 100%;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .top-bar {
  width: 100%;
  height: 60px;
  background: #F9FBFF;
  border-radius: 10px 10px 0 0;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .avatar {
  width: 35px;
  height: 35px;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(20%, #79C7C5), to(#A1E2D9));
  background: linear-gradient(to bottom left, #79C7C5 20%, #A1E2D9 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .avatar p {
  color: #F9FBFF;
  margin: 7px 12px;
  text-transform: uppercase;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #777777;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .icons {
  position: absolute;
  color: #A1E2D9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .icons .fas {
  padding: 5px;
  opacity: 0.8;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .icons .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79C7C5;
  -webkit-box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
          box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .middle {
  position: absolute;
  width: 100%;
  opacity: 0.65;
  top: 60px;
  height: 70%;
  padding-top: 15px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .typing {
  position: absolute;
  top: 67%;
  left: 20px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .typing .bubble {
  background: #eaeaea;
  padding: 8px 13px 9px 13px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .ellipsis {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #b7b7b7;
  border-radius: 50%;
  -webkit-animation: bounce 1.3s linear infinite;
          animation: bounce 1.3s linear infinite;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .one {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .two {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .three {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .bubble {
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
  color: #777777;
  font-size: 1em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
  max-width: 80%;
  word-break: break-word;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .bubble .command-arg {
  color: orange;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .bubble .command-arg::before {
  content: '<';
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .bubble .command-arg::after {
  content: '>';
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .outgoing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  padding: 0 20px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .outgoing .bubble {
  background: #F9FBFF;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .incoming {
  display: flexbox;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  padding: 0 20px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .incoming .bubble {
  background: #b2b2b2;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background: #F9FBFF;
  border-radius: 0 0 10px 10px;
}

.wpsms-tw-metabox.preview-metabox .sms-preview-js .left {
  left: 0px;
}

.wpsms-two-way-inbox-page .page-title {
  display: inline-block;
  margin-right: 20px;
}

.wpsms-two-way-inbox-page .search-label {
  display: inline-block;
}

.wpsms-two-way-inbox-page .column-id {
  width: 70px;
  position: relative;
}

.wpsms-two-way-inbox-page .column-id .id {
  margin-left: 10px;
}

.wpsms-two-way-inbox-page .column-id .new::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 14px;
  margin-right: 5px;
  display: inline-block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.wpsms-two-way-inbox-page .column-sender_number {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.wpsms-two-way-inbox-page .column-sender_number span.number {
  text-align: center;
  font-weight: bold;
}

.wpsms-two-way-inbox-page .column-text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.wpsms-two-way-inbox-page .column-command_title {
  text-align: center;
}

.wpsms-two-way-inbox-page .column-command_title * {
  font-weight: bolder;
}

.wpsms-two-way-inbox-page .column-command_title .no-command-found {
  color: #b45700;
  font-weight: bolder;
}

.wpsms-two-way-inbox-page .column-command_title .no-command-found p {
  color: inherit;
  margin: 0;
}

.wpsms-two-way-inbox-page .column-command_title .command-is-deleted {
  color: #bd0000;
}

.wpsms-two-way-inbox-page .column-command_title .command-is-deleted p {
  color: inherit;
  margin: 0;
}

.wpsms-two-way-inbox-page .column-action_status {
  text-align: center;
}

.wpsms-two-way-inbox-page .column-action_status .action-successful {
  display: inline-block;
  color: white;
  padding: 2px 5px;
  background-color: #009500;
  border-radius: 20px;
}

.wpsms-two-way-inbox-page .column-action_status .action-failed {
  display: inline-block;
  color: white;
  padding: 2px 5px;
  background-color: #aa0000;
  border-radius: 20px;
}

.wpsms-two-way-inbox-page .column-gateway {
  text-align: center;
  width: 10%;
}

.wpsms-two-way-inbox-page .column-row_actions {
  text-align: center;
  width: 50px;
}

.addon_two_way_settings_tab #submit {
  display: none;
}

.addon_two_way_settings_tab .two-way-gateway-supported {
  color: green;
}

.addon_two_way_settings_tab .two-way-gateway-not-supported {
  color: red;
}

.addon_two_way_settings_tab #two-way-webhook-url-field {
  display: inline-block;
  width: 300px;
  height: 40px;
  color: #000000;
  border: 1px solid #F88E40;
  outline: 2px solid transparent;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 5px;
}

.addon_two_way_settings_tab #two-way-webhook-url-field div {
  overflow-x: scroll;
  padding: 6px;
}

.addon_two_way_settings_tab button {
  margin: auto 0;
  padding: 7px 10px;
  border: 1px black solid;
  height: 40px;
  vertical-align: middle;
  background-color: white;
}

.addon_two_way_settings_tab button.red {
  border: 1px red solid !important;
  color: red !important;
}

.addon_two_way_settings_tab button.green {
  border: 1px green solid !important;
  color: green !important;
}

.addon_two_way_settings_tab #two-way-copy-webhook-btn {
  margin-left: 10px;
  color: #333333;
}

.addon_two_way_settings_tab #two-way-reset-token-btn {
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */