$primary: #79C7C5;
$secondary: #A1E2D9;
$white: #F9FBFF;
$dark: #777777;

.wpsms-tw-column {

    .status-enabled {
        color: #fdfffd;
        background-color: green;
        border-radius: 14px;
        padding: 2px 7px;
        cursor: default;
    }

    .status-disabled {
        color: #fdfffd;
        background-color: #d63638;
        border-radius: 14px;
        padding: 2px 7px;
        cursor: default;
    }

    .column-command-status {
        width: 90px;
    }
}

.wpsms-tw-metabox {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    * {
        box-sizing: border-box;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        .row-info {
            width: 30%;
            min-width: 200px;
            padding: 0 12px;
            border-right: 1px solid gray;
            text-align: left;

            .title {
                font-size: 1.2em;
            }

            .description {
                margin-top: 7px;
                font-weight: normal;
            }
        }

        .row-content {
            padding-left: 10px;
        }

        // Small devices
        @media (max-width: 570px) {
            .row-info {
                display: block;
                width: 100%;
                border-right: none;
                border-bottom: 1px solid gray;
                padding: 20px;
            }

            .row-content {
                // margin-top: 15px;
                display: block;
                width: 100%;
                padding: 10px 20px;
            }
        }

    }

    &.response-metabox {

        .response-row {

            .row-content {
                padding-bottom: 15px;

                label {
                    display: inline;
                    padding-bottom: 3px;
                }

                textarea {
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                }
            }
        }

    }

    &.actions-metabox {

        .field {
            padding-top: 7px;
            display: inline-block;
            margin-right: 10px;

            label {
                display: block;
            }
        }

        #wpsms-tw-command-name {
            width: 200px;
        }

        #wpsms-tw-command-action-select {
            width: 200px;
        }
    }

    &.preview-metabox {
        div.sms-preview-container {
            margin-top: 20px;
        }

        .sms-preview-js {

            display: block;
            background-color: rgba($white, 0.4);
            background: linear-gradient(to bottom left, $primary 40%, $white 100%);
            width: 100%;
            height: 200px;
            position: relative;
            border-radius: 10px;
            box-shadow: 5px 5px 15px rgba($dark, 0.5);

            .focus {
                background: $white;
                margin-left: 1px;
            }

            .chatbox {
                position: relative;
                height: 100%;
                width: 100%;
            }

            .top-bar {
                width: 100%;
                height: 60px;
                background: $white;
                border-radius: 10px 10px 0 0;
            }

            .avatar {
                width: 35px;
                height: 35px;
                background: linear-gradient(to bottom left, $primary 20%, $secondary 100%);
                border-radius: 50%;
                position: absolute;
                top: 11px;
                left: 15px;

                p {
                    color: $white;
                    margin: 7px 12px;
                    text-transform: uppercase;
                }
            }

            .name {
                position: absolute;
                top: 22px;
                text-transform: uppercase;
                color: $dark;
                font-size: .8em;
                letter-spacing: 2px;
                font-weight: 500;
                left: 60px;
            }

            .menu {
                position: absolute;
                right: 10px;
                top: 20px;
                width: 10px;
                height: 20px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    transition: all .3s ease-in;
                }
            }

            .icons {
                position: absolute;
                color: $secondary;
                padding: 10px;
                top: 5px;
                right: 21px;
                cursor: pointer;

                .fas {
                    padding: 5px;
                    opacity: 0.8;

                    &:hover {
                        transform: scale(1.1);
                        transition: all .3s ease-in;
                    }
                }
            }

            .dots {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $primary;
                box-shadow: 0px 7px 0px $primary, 0px 14px 0px $primary;
            }

            .middle {
                position: absolute;
                // background: $white;
                width: 100%;
                opacity: 0.65;
                top: 60px;
                height: 70%;
                padding-top: 15px;
            }

            .typing {
                position: absolute;
                top: 67%;
                left: 20px;

                .bubble {
                    background: lighten($dark, 45%);
                    padding: 8px 13px 9px 13px;
                }
            }

            .ellipsis {
                width: 5px;
                height: 5px;
                display: inline-block;
                background: lighten($dark, 25%);
                border-radius: 50%;
                animation: bounce 1.3s linear infinite;
            }

            .one {
                animation-delay: 0.6s;
            }

            .two {
                animation-delay: 0.5s;
            }

            .three {
                animation-delay: 0.8s;
            }

            .bubble {
                position: relative;
                display: inline-block;
                margin-bottom: 7px;
                color: $dark;
                font-size: 1em;
                padding: 10px 10px 10px 12px;
                border-radius: 20px;
                max-width: 80%;
                word-break: break-word;

                .command-arg {
                    &::before {
                        content: '<';
                    }

                    &::after {
                        content: '>';
                    }

                    color: orange;
                }
            }

            .outgoing {
                display: flex;
                justify-content: right;
                width: 100%;
                padding: 0 20px;

                .bubble {
                    background: $white;
                }
            }

            .incoming {
                display: flexbox;
                justify-content: left;
                width: 100%;
                padding: 0 20px;

                .bubble {
                    background: lighten($dark, 23%);
                }
            }

            .bottom-bar {
                position: absolute;
                width: 100%;
                height: 55px;
                bottom: 0;
                background: $white;
                border-radius: 0 0 10px 10px;
            }

            .left {
                left: 0px;
            }
        }
    }



}

.wpsms-two-way-inbox-page {

    .page-title {
        display: inline-block;
        margin-right: 20px;
    }

    .search-label {
        display: inline-block;
    }

    .column-id {
        width: 70px;
        position: relative;

        .id {
            margin-left: 10px;
        }

        .new {
            &::before {
                content: '';
                position: absolute;
                left: 5px;
                top: 14px;
                margin-right: 5px;
                display: inline-block;
                background-color: red;
                width: 10px;
                height: 10px;
                border-radius: 10px;
            }
        }
    }

    .column-sender_number {
        width: max-content;

        span.number {
            text-align: center;
            font-weight: bold;
        }
    }

    .column-text {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .column-command_title {
        text-align: center;

        * {
            font-weight: bolder;
        }

        .no-command-found {
            color: rgb(180, 87, 0);
            font-weight: bolder;

            p {
                color: inherit;
                margin: 0;
            }
        }

        .command-is-deleted {
            color: rgb(189, 0, 0);

            p {
                color: inherit;
                margin: 0;
            }
        }
    }

    .column-action_status {
        text-align: center;

        .action-successful {
            display: inline-block;
            color: white;
            padding: 2px 5px;
            background-color: rgb(0, 149, 0);
            border-radius: 20px;
        }

        .action-failed {
            display: inline-block;
            color: white;
            padding: 2px 5px;
            background-color: rgb(170, 0, 0);
            border-radius: 20px;
        }
    }

    .column-gateway {
        text-align: center;
        width: 10%;
    }

    .column-received_at {}

    .column-row_actions {
        text-align: center;
        width: 50px;
    }
}

.addon_two_way_settings_tab {

    #submit {
        display: none;
    }

    .two-way-gateway-supported {
        color: green;
    }

    .two-way-gateway-not-supported {
        color: red;
    }

    #two-way-webhook-url-field {
        display: inline-block;
        width: 300px;
        height: 40px;
        color: #000000;
        border: 1px solid #F88E40;
        outline: 2px solid transparent;
        white-space: nowrap;
        vertical-align: middle;
        overflow: hidden;
        padding: 0 5px;

        div {
            overflow-x: scroll;
            padding: 6px;
        }
    }

    button {
        margin: auto 0;
        padding: 7px 10px;
        border: 1px black solid;
        height: 40px;
        vertical-align: middle;
        background-color: white;

        &.red {
            border: 1px red solid !important;
            color: red !important;
        }

        &.green {
            border: 1px green solid !important;
            color: green !important;
        }
    }

    #two-way-copy-webhook-btn {
        margin-left: 10px;
        color: rgb(51, 51, 51);
    }

    #two-way-reset-token-btn {
        margin-left: 10px;
    }
}