.wpsms-subscribe {
  font-family: "Barlow", Tahoma;
  position: relative;
}

.wpsms-subscribe__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  margin: 24px 0 16px;
}

.wpsms-subscribe p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #5B5B5B;
}

/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v5-latin-regular.woff") format("woff");
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v5-latin-700.woff2") format("woff2"), url("../fonts/barlow-v5-latin-700.woff") format("woff");
}
.wpsms-subscribe__form__field {
  margin: 0 0 24px;
}

.wpsms-subscribe__form__field > label {
  display: block;
}

.wpsms-subscribe__field__input {
  padding: 5px 7px;
  border: none;
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  font-family: inherit !important;
  font-size: 14px;
}

.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio label {
  display: inline-block;
}
.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  vertical-align: middle;
  padding: 4px !important;
  margin-right: 5px;
  border: 1px solid #000 !important;
  position: relative;
}
.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio input[type=radio]::after {
  width: 8px;
  height: 8px;
}
.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio input[type=radio]:checked {
  background-color: #F88E40 !important;
  border-color: #F88E40 !important;
}
.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio input[type=radio]:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 4px;
  display: block;
  background-color: #fff;
}

.wpsms-subscribe__field__input:focus,
.wpsms-subscribe__field__input.focus {
  border: solid 2px #969696;
}

.wpsms-subscribe__form__field label {
  color: #5B5B5B;
  font-size: 14px;
  margin-bottom: 8px;
}
.wpsms-subscribe__form__field input:not([type=checkbox]), .wpsms-subscribe__form__field select {
  font-size: 14px !important;
  background-color: #fff;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 13.4px 16px !important;
}
.wpsms-subscribe__form__field input:not([type=checkbox]):focus, .wpsms-subscribe__form__field select:focus {
  border: 1px solid #F88E40;
  box-shadow: none;
  outline: none;
}
.wpsms-subscribe__form__field input::-moz-placeholder {
  color: #5B5B5B;
}
.wpsms-subscribe__form__field input:-ms-input-placeholder {
  color: #5B5B5B;
}
.wpsms-subscribe__form__field input::placeholder {
  color: #5B5B5B;
}

.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio input {
  margin-right: 0px;
}

input#wpsms-type-unsubscribe {
  margin-left: 10px;
}

.wpsms-subscribe__form__field--gdpr label {
  color: #000;
  cursor: pointer;
}
.wpsms-subscribe__form__field--gdpr input[type=checkbox] {
  border: 1px solid #000 !important;
  vertical-align: middle;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  box-shadow: none;
  outline: none;
  position: relative;
}
.wpsms-subscribe__form__field--gdpr input[type=checkbox]::after {
  display: none;
  content: unset !important;
}
.wpsms-subscribe__form__field--gdpr input[type=checkbox]:focus {
  box-shadow: none;
  outline: none;
}
.wpsms-subscribe__form__field--gdpr input[type=checkbox]:checked {
  background-color: #F88E40;
  border-color: #F88E40 !important;
  color: #fff;
}
.wpsms-subscribe__form__field--gdpr input[type=checkbox]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M14.83 4.89l1.34.94-5.81 8.38H9.02L5.78 9.67l1.34-1.25 2.57 2.4z' fill='%23fff'/%3E%3C/svg%3E") !important;
  vertical-align: middle;
  text-align: center;
  width: 20px !important;
  height: 20px !important;
  display: block;
  position: absolute;
  left: -3.5px;
  top: -2.5px;
}

#wpsms-step-2 {
  display: none;
}

#wpsms-result {
  display: block;
  margin: 0 0 7px;
  width: 100%;
}

.wpsms-subscribe__message {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  padding: 12px 16px;
  border: 2px solid transparent;
  color: #000;
  margin: 16px 0;
  display: block;
}

.wpsms-subscribe__message--error {
  border-color: #aa2a2a;
}

.wpsms-subscribe__message--success {
  border-color: #65B15C;
}

.wpsms-button {
  background: #F88E40 !important;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #fff !important;
  font-family: inherit;
  padding: 13px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.wpsms-button:focus, .wpsms-button:active {
  text-decoration: none !important;
}
.wpsms-button:hover {
  background: #EF771F !important;
  text-decoration: none !important;
}
.wpsms-button:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.wpsms-subscribe__overlay {
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.wpsms-subscribe__overlay__spinner {
  width: 10%;
}