#wpsms-subscribe {
    font-family: Tahoma, Arial;
}

.wpsms-newsletter__form__field {
    margin: 0 0 10px;
}

.wpsms-newsletter__form__field > label {
    display: block;
}

.wpsms-newsletter__field__input {
    padding: 5px 7px;
    border: none;
    border: solid 2px #c9c9c9;
    transition: border 0.3s;
    font-family: Tahoma, Arial;
    font-size: 12px;
}

.wpsms-newsletter__field__input:focus,
.wpsms-newsletter__field__input.focus {
    border: solid 2px #969696;
}

.wpsms-button:disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.wpsms-button {
    background: #F88E40;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: inherit;
    padding: 13px 32px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}

.wpsms-button:hover {
    background: #EF771F;
}

.wpsms-button:active {
    position: relative;
    top: 1px;
}

#wpsms-step-1 {

}

#wpsms-step-2 {
    display: none;
}

#wpsms-result {
    display: block;
    margin: 0 0 7px;
    width: 100%;
}

.wpsms-message-error {
    background-color: rgba(255, 0, 0, 0.24);
    border: 2px solid #b36262;
    color: #820000;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}

.wpsms-message-success {
    background-color: rgba(87, 241, 45, 0.24);
    border: 2px solid #16c900;
    color: #0f8500;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}

.wpsms-newsletter__form__field.wpsms-newsletter__field__input--radio label {
    display: inline-block;
}

.wpsms-newsletter__form__field.wpsms-newsletter__field__input--radio input{
    margin-right: 0px;

}

input#wpsms-type-unsubscribe {
    margin-left: 10px;
}
