/* Roboto Regular - Latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

/* Roboto 500 - Latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-500.woff') format('woff');
}

/* Roboto 700 - Latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-700.woff') format('woff');
}