.o-section {
  padding: 3.125em 0;
  @include mq(desktop) {
    padding: 4.375em 0;
  }
}
.o-section__wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  @include mq(lg) {
    max-width: calc(1164px - 2em);
  }
}

.o-section__wrapper--maincontent {
  padding: 48px 20px 15px 20px;
  background-color: $white-color;
  border-radius: 4px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 2px 4px 0px #00000014;

  @include mq(tablet) {
    width: 864px;
    padding:38px 38px 15px;
  }
}
.wpsms-onboarding , .toplevel_page_wp-sms{
  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background: #F7F7F7!important;
  color:#282828 ;
  }

  .select2-dropdown{
    border-color: $grey-color-5;
  }
  .select2-search__field{
    font-size: 14px;
    border: none!important;
    border-color: $grey-color-5;
  }
}