.wpsms-subscribe-form {
  margin: 0 0 10px;
}

.wpsms-subscribe-form > label {
  display: block;
}

.wpsms-input {
  padding: 5px 7px;
  border: none;
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  font-family: Tahoma, Arial;
  font-size: 12px;
}

.wpsms-input:focus,
.wpsms-input.focus {
  border: solid 2px #969696;
}

.wpsms-subscribe-form.radio-inputs label {
  display: inline-block;
}

.wpsms-subscribe-form.radio-inputs input{
  margin-right: 0px;

}

input#wpsms-type-unsubscribe {
  margin-left: 10px;
}
