.wpsms-subscribe__form__field {
  margin: 0 0 24px;
}

.wpsms-subscribe__form__field > label {
  display: block;
}

.wpsms-subscribe__field__input {
  padding: 5px 7px;
  border: none;
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  font-family: inherit !important;
  font-size: 14px;
}

.wpsms-subscribe__field__input--radio {
  label {
    display: inline-block;
  }
}

.wpsms-subscribe__field__input:focus,
.wpsms-subscribe__field__input.focus {
  border: solid 2px #969696;
}

.wpsms-subscribe__form__field {

  label {
    color: #5B5B5B;
    font-size: 14px;
  }

  input:not([type="checkbox"]), select {
    font-size: 14px !important;
    background-color: #fff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 13.4px 16px !important;

    &:focus {
      border: 1px solid #F88E40;
      box-shadow: none;

      outline: none;
    }
  }

  input::placeholder {
    color: #5B5B5B;
  }
}

.wpsms-subscribe__form__field.wpsms-subscribe__field__input--radio input {
  margin-right: 0px;
}

input#wpsms-type-unsubscribe {
  margin-left: 10px;
}

.wpsms-subscribe__form__field--gdpr {

  label {
    color: #000;
    cursor: pointer;
  }

  input {
    border: 1px solid #000 !important;
  }

  input:checked {
    background-color: #F88E40;
    border-color: #F88E40 !important;
    color: #fff;

    &::before {
      content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M14.83 4.89l1.34.94-5.81 8.38H9.02L5.78 9.67l1.34-1.25 2.57 2.4z' fill='%23fff'/%3E%3C/svg%3E") !important;
    }
  }
}
