.wpsms-subscribe__form__field {
  margin: 0 0 24px;

  .iti--allow-dropdown {
    width: 100%;

    .wp-sms-input-mobile {
      padding-left: 50px !important;
    }
  }

  .iti--separate-dial-code {
    .wp-sms-input-mobile {
      padding-left: 101px !important
    }
  }
}

.wpsms-subscribe__form__field > label {
  display: block;
}

.wpsms-subscribe__field__input {
  padding: 5px 7px;
  border: none;
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  font-family: inherit !important;
  font-size: 14px;
}

.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio {
  display: flex;
  align-items: center;

  label {
    display: inline-flex;
    align-items: center;
  }

  input[type="radio"] {
    margin-left: 0;
    appearance: none;
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
    border-radius: 50%;
    vertical-align: middle;
    padding: unset !important;
    margin-right: 5px;
    border: 1px solid #000 !important;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    &::after {
      width: 8px;
      height: 8px;
    }

    &:checked {
      background-color: #F88E40 !important;
      border-color: #F88E40 !important;

      &::after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 4px;
        display: block;
        background-color: #fff;
      }
    }
  }
}

.wpsms-subscribe__field__input:focus,
.wpsms-subscribe__field__input.focus {
  border: solid 2px #969696;
}

.wpsms-subscribe__form__field {
  min-width: 200px;
  max-width: 300px;

  label {
    color: #5B5B5B;
    font-size: 14px;
    margin-bottom: 8px;
  }

  input:not([type="checkbox"]), select {
    width: 100%;
    height: auto;
    font-size: 14px !important;
    background-color: #fff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 13.4px 16px !important;

    &:focus {
      border: 1px solid #F88E40;
      box-shadow: none;
      outline: none;
    }
  }

  select {
    background-position: 95% center;
  }

  input::placeholder {
    color: #5B5B5B;
  }
}

.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio {

  label {
    cursor: pointer;
  }

  input {
    margin-right: 0px;
  }
}


input#wpsms-type-unsubscribe {
  margin-left: 10px;
}

.wpsms-subscribe__form__field--gdpr {
  display: flex;
  align-items: center;

  label {
    color: #000;
    cursor: pointer;
  }

  input[type="checkbox"] {
    appearance: none !important;
    border: 1px solid #000 !important;
    vertical-align: middle;
    margin-right: 5px;
    top: 0 !important;
    width: 16px;
    height: 16px;
    box-shadow: none;
    outline: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::after {
      display: none;
      content: unset !important;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &::selection {
      background-color: #F88E40;
      border-color: #F88E40 !important;
      color: #fff;
    }

    &:checked {
      background-color: #F88E40;
      border-color: #F88E40 !important;
      color: #fff;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.77749 0L2.77748 3.72336L1.22258 2.27614L0 3.4144L2.7775 6L8 1.13828L6.77749 0Z' fill='white'/%3E%3C/svg%3E%0A") !important;
        width: 11px !important;
        height: 11px !important;
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.wpsms-subscribe__form__field .intl-tel-input {
  display: flex;

  .wpsms-subscribe__field__input {
    border-left: 0;
    border-radius: 0 2px 2px 0;

    &:focus {
      border-left: 0 !important;
    }
  }

  .flag-container {
    position: relative;
    font-size: 14px;
    border: 1px solid #000;
    border-right: 0;
    transition: border .3s;
    border-radius: 2px 0 0 2px;
    padding: 0;
  }

  &:focus-within {
    .flag-container, .wpsms-subscribe__field__input {
      border-color: #F88E40;
    }
  }
}
