.wp-sms-block {
  background-color: #fff;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 2px;

  .wp-sms-block__title {
    margin: 0 0 8px;
    line-height: 1.5;
    padding: 12px 15px;
    font-size: 16px;
    border-bottom: 1px solid #E7E7E7;
    font-weight: 600;
  }

  .wp-sms-block__main {
    padding: 10px 15px;
  }

  label {
    font-size: 14px;
  }
}
